<h1 id="logo" class="site-logo">
    <a class="navbar-brand" href="{{siteurl}}">
        {{#logourl}}<img class="logo img-responsive" src="{{logourl}}" {{#logoalt}}alt="{{.}}"{{/logoalt}} />{{/logourl}}
        {{^logourl}}&nbsp;{{/logourl}}
        <span class="sr-only">{{shortname}}</span>
    </a>
</h1>
