#
# This file defines the behat default settings, only chrome browser is fully supported.
#
# Developers may add custom settings via behat_local.yml file in the this directory,
# for example to add firefox profile you need to override the extra_capabilities with empty array.
#
default:
  formatters:
    moodle_progress:
      output_styles:
        comment:
          - magenta
  suites:
    default:
      paths: { }
      contexts: { }
  extensions:
    Behat\MinkExtension:
      base_url: 'http://127.0.0.1:8080/Totara/wwwroot'
      goutte: null
      selenium2:
        wd_host: 'http://127.0.0.1:4444/wd/hub'
        browser: chrome
        capabilities:
          extra_capabilities:
            chromeOptions:
              args:
                - '--disable-infobars'
                - '--disable-background-throttling'
              prefs:
                credentials_enable_service: false
              w3c: false
              useAutomationExtension: false
              excludeSwitches:
                - enable-automation
    Moodle\BehatExtension:
      moodledirroot: /Should/Change/To/Totara/dirroot
      steps_definitions: {  }
headless:
  extensions:
    Behat\MinkExtension:
      selenium2:
        browser: chrome
        capabilities:
          extra_capabilities:
            chromeOptions:
              args:
                - '--disable-infobars'
                - '--disable-background-throttling'
                - '--headless'
              prefs:
                credentials_enable_service: false
              w3c: false
              useAutomationExtension: false
              excludeSwitches:
                - enable-automation
