<div class="block block-introduction text-left">
    <div class="header">
        <h2>{{header}}</h2>
    </div>
    <div class="content">
        <div name="CourseSummary" class="text">{{{summary}}}</div>    
        {{#duration}}            
        	<div name="CourseDuration" class="duration">{{duration}}</div>
        {{/duration}}   
    </div>
</div>