{{> theme_golearningzone/head}}
    <body   {{{body_attributes}}} 
            {{#palette}} 
                data-palette="{{palette}}" 
            {{/palette}}
            {{#bg_image}}
                style="background-image: url('{{bg_image}}');"
            {{/bg_image}}
        >
        {{{standard_top_of_body_html}}}
        {{{header}}}
        <div class="container">
            <div id="page" class="container-fluid text-left">
                {{{breadcrumbs}}}
                <div id="page-content">
                    <div class="row">
                        <div class="col-md-12 course-header">
                            <h2 name="CourseShortname">{{coursename}}</h2>
                        </div>
                    </div>
                    <div class="row custom-blocks">
                        {{#introduction}}
                            <div class="col-md-{{introduction-size}}">
                                {{{ introduction }}}
                            </div>
                        {{/introduction}}
                        {{#outcomes}}
                            <div class="col-md-{{outcomes-size}}">
                                {{{ outcomes }}}
                            </div>
                        {{/outcomes}}
                    </div>
                    <div class="row">
                        <div class="col-md-{{main_content-size}}">
                            {{{main_content}}}
                        </div>
                        {{#render-side-blocks}}
                            <div class="col-md-{{blocks-size}}">
                                {{{ side-post }}}
                            </div>
                        {{/render-side-blocks}}
                    </div>
                </div>
            </div> 
        </div>
        {{{footer}}}
        {{{standard_end_of_body_html}}}
        <script src="/theme/golearningzone/js/course.js"></script>
        <script>
            window.onload = function() {
                new Header().init();
                new Course().init();
                new Layout().init();
                $('body').show();
            }
        </script>
        <style type="text/css">
            [data-flex-icon="completion-manual-n"].fa-square-o:before,
            [data-flex-icon="core|i/completion-manual-n"].fa-square-o:before {
                content: "\f096    {{translations.mark-completed}}";
            }
            [data-flex-icon="completion-manual-y"].fa-check-square-o:before,
            [data-flex-icon="completion-auto-enabled"] .fa-check-circle-o:before,
            [data-flex-icon="completion-auto-pass"].fa-check-circle-o:before,
            [data-flex-icon="completion-auto-y"].fa-check-circle-o:before,
            [data-flex-icon="completion-manual-enabled"] .fa-check-square-o:before,
            [data-flex-icon="core|i/completion-manual-y"].fa-check-square-o:before,
            [data-flex-icon="core|i/completion-auto-enabled"] .fa-check-circle-o:before,
            [data-flex-icon="core|i/completion-auto-pass"].fa-check-circle-o:before,
            [data-flex-icon="core|i/completion-auto-y"].fa-check-circle-o:before,
            [data-flex-icon="core|i/completion-manual-enabled"] .fa-check-square-o:before {
                content: "\f058    {{translations.completed}}";
            }
            [data-flex-icon="completion-auto-fail"].fa-times-circle-o:before,
            [data-flex-icon="core|i/completion-auto-fail"].fa-times-circle-o:before {
                content: "\f05c    {{translations.failed}}";
            }
            [data-flex-icon="completion-auto-n"].fa-circle-o:before,
            [data-flex-icon="core|i/completion-auto-n"].fa-circle-o:before {
                content: "\f12a    {{translations.not-completed}}";
            }
        </style>
    </body>
</html>