<div class="block block-outcomes text-left">
    <div class="header">
        <h2>{{header}}</h2>
    </div>
    <div class="content">
        <div name="CourseOutcomes" class="text text-full-height">{{{text}}}</div>      
    </div>
</div>