{{{doctype}}}
<html {{{htmlattributes}}}>
    <head>
        <title>{{title}}</title>
        <link rel="shortcut icon" href="{{favicon}}" />
        <link rel="apple-touch-icon" href="{{favicon}}" />
        <link href='{{siteurl}}/theme/golearningzone/style/fonts.css' rel='stylesheet' type='text/css'>
        {{{standard_head_html}}}
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    </head>