{{> theme_golearningzone/head}}
    <body {{body_attributes}} >
        {{{standard_top_of_body_html}}}
        {{{header}}}
        <div class="container">
            <div class="container-fluid breadcrumb-container">
                <div class="row">
                    <div class="col-sm-12">
                        {{{full_header}}}
                    </div>
                </div>
            </div>
            <div id="page" class="container-fluid">
                <div id="page-content" class="row">
                    <div class="{{region-main-class}}">
                        {{{course_content_header}}}
                        {{{main_content}}}
                        {{{course_content_footer}}}
                    </div>
                    {{{side-pre}}}
                    {{{side-post}}}
                </div>
            </div>
            {{{footer}}}
        </div>
        {{{standard_end_of_body_html}}}
    </body>
</html>