<footer id="page-footer" class="page-footer text-left homeFooter" data-color="{{color}}">
    <div class="container container-fluid page-footer-main-content">
    	<div class="col-md-4"></div>
    	<div class="col-md-4 text-center">
            {{#logo-link}}
    		   <img alt="logo" src="{{logo-link}}">
            {{/logo-link}}
    	</div>
    	<div class="col-md-4 text-right social-links">
    		{{#fb-link}}
    			<a href="{{{fb-link}}}">
    				<i class="fa fa-facebook-official" aria-hidden="true"></i>
    			</a>
    		{{/fb-link}}
    		{{#tw-link}}
    			<a href="{{{tw-link}}}">
    				<i class="fa fa-twitter-square" aria-hidden="true"></i>
    			</a>
    		{{/tw-link}}
    		{{#yt-link}}
    			<a href="{{{yt-link}}}">
    				<i class="fa fa-youtube-square" aria-hidden="true"></i>
    			</a>
    		{{/yt-link}}
    		{{#li-link}}
    			<a href="{{{li-link}}}">
    				<i class="fa fa-linkedin-square" aria-hidden="true"></i>
    			</a>
    		{{/li-link}}
    	</div>
    </div>
</footer>
