{{> theme_golearningzone/head}}
    <body   {{{body_attributes}}} 
            {{#palette}} 
                data-palette="{{palette}}" 
            {{/palette}}
            {{#bg_image}}
                style="background-image: url('{{bg_image}}');"
            {{/bg_image}}
        >
        {{{standard_top_of_body_html}}}
        <div class="container text-left">
            <div id="page" class="container-fluid" style="margin-top:0;">
                <div id="page-content">
                    <div class="row">
                        <div class="col-md-12">
                            {{{main_content}}}
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        {{{standard_end_of_body_html}}}
        <script src="/theme/golearningzone/js/panel.js"></script>
    </body>
</html>