{{!
   This file is part of Totara LMS

   Copyright (C) 2016 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.

   @author Petr Skoda <petr.skoda@totaralms.com>
   @package totara_form
}}
{{!

    @template totara_form/element_radios

    This template generates Totara form radio checkboxes.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
     * form_item_template string this template, used for dynamic partials
     * name__xxxx bool true where xxxx is the name of this form item
     * name string name of this item
     * id string id of this item
     * label string
     * frozen bool
     * required bool
     * options array list of options
       * value string
       * oid string radio id
       * text string
       * selected bool

    Other context variables for following partials:
     * totara_form/help_button
     * totara_form/validation_errors

    Example context (json):
        {
            "form_item_template":"totara_form\/element_radios",
            "name__radios":true,
            "name":"radios",
            "id":"tfiid_radios_totara_form_form_testform_element_compilation",
            "label":"Radios",
            "frozen":false,
            "options": [
                {"value":"true","oid":"tfiid_radios_totara_form_form_testform_element_compilation___rd_0","text":"Agree","checked":false},
                {"value":"false","oid":"tfiid_radios_totara_form_form_testform_element_compilation___rd_1","text":"Disagree","checked":false}
            ],
            "amdmodule":"totara_form\/form_element_radios",
            "required":false,
            "errors_has_items":false,
            "errors":[],
            "helphtml":false,
            "elementtype":"totara_form\\form\\element\\radios",
            "elementid":"tfiid_radios_totara_form_form_testform_element_compilation",
            "elementclassification":"element"
        }
}}
<div class="tf_element totara_form_element_radios">
    <div class="tf_element_title"><span class="legend" data-element-label>{{label}}{{#required}}{{> totara_form/required_suffix}}{{/required}}</span>{{> totara_form/help_button}}</div>
    <div class="tf_element_input" id="{{id}}">{{> totara_form/validation_errors}}
    {{#options}}
        <div class="totara_form_element_radios_radio{{#horizontal}} totara_form_element_radios_radio_inline{{/horizontal}}">
            <input type="radio" id="{{oid}}" {{#frozen}}disabled data-{{/frozen}}name="{{name}}" value="{{value}}" {{#checked}}checked{{/checked}} {{#required}}required{{/required}} />
            <label for="{{oid}}">{{{text}}}</label>
        </div>
    {{/options}}
    </div>
</div>