{{!
   This file is part of Totara LMS

   Copyright (C) 2016 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.

   @author Petr Skoda <petr.skoda@totaralms.com>
   @package totara_form
}}
{{!

    @template totara_form/element_filemanager

    This template generates Totara form file manager element.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
     * form_item_template string this template, used for dynamic partials
     * name__xxxx bool true where xxxx is the name of this form item
     * name string name of this item
     * id string id of this item
     * label string
     * frozen bool
     * value string drafitemid
     * contextid int id of the form context
     * fmoptions string json encoded settings
     * client_id string magic client id
     * restrcitions string html markup with upload restrictions

    Other context variables for following partials:
     * totara_form/help_button
     * totara_form/validation_errors

    Example context (json):
        {
            "form_item_template":"totara_form\/element_filemanager",
            "name__filemanager":true,
            "name":"filemanager",
            "id":"tfiid_filemanager_totara_form_form_testform_element_compilation",
            "label":"File manager",
            "frozen":false,
            "amdmodule":"totara_form\/form_element_filemanager",
            "accept":false,
            "maxfiles":"-1",
            "required":false,
            "value":"891694238",
            "maxbytes":"67108864",
            "fmoptions":"json_encoded file manager options",
            "client_id":"577064ad7dc97921900030",
            "restrictions":"Maximum size for new files: 67108864",
            "errors_has_items":false,
            "errors":[],
            "helphtml":false,
            "elementtype":"totara_form\\form\\element\\filemanager",
            "elementid":"tfiid_filemanager_totara_form_form_testform_element_compilation",
            "elementclassification":"element"
        }
}}
<div class="tf_element totara_form_element_filemanager">
    <input type="hidden" id="{{id}}" {{#frozen}}data-{{/frozen}}name="{{name}}" value="{{value}}" data-fmoptions="{{fmoptions}}" />
    <div class="tf_element_title"><span class="legend">{{label}}{{#required}}{{> totara_form/required_suffix}}{{/required}}</span>{{> totara_form/help_button}}</div>
    <div class="tf_element_input">
        <div id="filemanager-{{client_id}}" class="filemanager fm-loading" data-frozen="{{frozen}}">
            <div class="fp-restrictions">
                {{{restrictions}}}
                <span class="dnduploadnotsupported-message"> - {{#str}}dndnotsupported_insentence,moodle{{/str}} {{! TODO TL-9420: add help icon $OUTPUT->help_icon('dndnotsupported')}}</span>
            </div>
            <div class="fp-navbar">
                <div class="filemanager-toolbar">
                    <div class="fp-toolbar">
                        <div class="fp-btn-add">
                            <a role="button" title="{{#str}}addfile,repository{{/str}}" href="#">
                                {{#flex_icon}}document-new, addfiletext, repository{{/flex_icon}}
                            </a>
                        </div>
                        <div class="fp-btn-mkdir">
                            <a role="button" title="{{#str}}makeafolder{{/str}}" href="#">
                                {{#flex_icon}}folder-create, createfolder, repository {{/flex_icon}}
                            </a>
                        </div>
                        <div class="fp-btn-download">
                            <a role="button" title="{{#str}}downloadfolder,repository{{/str}}" href="#">
                                {{#flex_icon}}download, downloadallfiles, repository {{/flex_icon}}
                            </a>
                        </div>
                        <span class="fp-img-downloading">
                            {{#flex_icon}}loading{{/flex_icon}}
                        </span>
                    </div>
                    <div class="fp-viewbar">
                        <a title="{{#str}}displayicons,repository{{/str}}" class="fp-vb-icons" href="#">
                            {{#pix}}fp/view_icon_active, theme, displayasicons, repository{{/pix}}
                        </a>
                        <a title="{{#str}}displaydetails,repository{{/str}}" class="fp-vb-details" href="#">
                            {{#pix}}fp/view_list_active, theme, displayasdetails, repository{{/pix}}
                        </a>
                        <a title="{{#str}}displaytree,repository{{/str}}" class="fp-vb-tree" href="#">
                            {{#pix}}fp/view_tree_active, theme, displayastree, repository{{/pix}}
                        </a>
                    </div>
                </div>
                <div class="fp-pathbar">
                    <span class="fp-path-folder">{{#flex_icon}}deeper{{/flex_icon}}{{#flex_icon}}folder{{/flex_icon}}<a class="fp-path-folder-name" href="#"></a></span>
                </div>
            </div>
            <div class="filemanager-loading mdl-align">{{#flex_icon}}loading, loading, repository{{/flex_icon}}</div>
            <div class="filemanager-container" >
                <div class="fm-content-wrapper">
                    <div class="fp-content"></div>
                    <div class="fm-empty-container">
                        <div class="dndupload-message">{{#str}}dndenabled_inbox{{/str}}<br/><div class="dndupload-arrow">{{#flex_icon}}upload, , ,ft-size-700 {{/flex_icon}}</div></div>
                    </div>
                    <div class="dndupload-target">{{#str}}droptoupload{{/str}}<br/><div class="dndupload-arrow">{{#flex_icon}}upload, , ,ft-size-700 {{/flex_icon}}</div></div>
                    <div class="dndupload-progressbars"></div>
                    <div class="dndupload-uploadinprogress">{{#flex_icon}}loading, loading, repository{{/flex_icon}}</div>
                </div>
                <div class="filemanager-updating">{{#flex_icon}}loading, loading, repository{{/flex_icon}}</div>
            </div>
        </div>
    </div>
</div>