{{!
   This file is part of Totara LMS

   Copyright (C) 2016 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.

   @author Petr Skoda <petr.skoda@totaralms.com>
   @package totara_form
}}
{{!

    @template totara_form/element_password

    This template generates Totara form text input element.

    Classes required for JS:
    * unmask-password : when applied to the .totara_form_element_passwordunmask div causes the
      mask to be removed, and the password revealed.

    Data attributes required for JS:
    * none

    Context variables required for this template:
     * form_item_template string this template, used for dynamic partials
     * name__xxxx bool true where xxxx is the name of this form item
     * name string name of this item
     * id string id of this item
     * label string
     * frozen bool
     * value string
     * placeholder string
     * maxlength int
     * size int
     * required bool

    Other context variables for following partials:
     * totara_form/help_button
     * totara_form/validation_errors

    Example context (json):
        {
            "form_item_template":"totara_form\/element_passwordunmask",
            "name__passwordunmask":true,
            "name":"passwordunmask",
            "id":"tfiid_passwordunmask_totara_form_form_testform_element_compilation",
            "label":"Password unmask",
            "frozen":false,
            "amdmodule":"totara_form\/form_element_passwordunmask",
            "maxlength":false,
            "placeholder":false,
            "required":false,
            "size":false,
            "value":"",
            "errors_has_items":false,
            "errors":[],
            "helphtml":false,
            "elementtype":"totara_form\\form\\element\\passwordunmask",
            "elementid":"tfiid_passwordunmask_totara_form_form_testform_element_compilation",
            "elementclassification":"element"
        }
}}
<div class="tf_element totara_form_element_passwordunmask">
    <div class="tf_element_title"><label class="legend" for="{{id}}">{{label}}{{#required}}{{> totara_form/required_suffix}}{{/required}}</label>{{> totara_form/help_button}}</div>
    <div class="tf_element_input">{{> totara_form/validation_errors}}<div class="wrap"><input type="text" id="{{id}}" {{#frozen}}readonly data-{{/frozen}}name="{{name}}" value="{{value}}"
        autocomplete="off" spellcheck="false" autocapitalize="none" autocorrect="off" {{#placeholder}}placeholder="{{.}}"{{/placeholder}}
        {{#required}}required{{/required}} {{#size}}size="{{.}}"{{/size}} {{#maxlength}}maxlength="{{.}}"{{/maxlength}} class="passwordinput" /></div>
        <div class="unmask-password-option"><input id="{{id}}unmask" type="checkbox"><label for="{{id}}unmask">{{#str}}unmaskpassword,form{{/str}}</label></div>
    </div>
</div>
