{{!
   This file is part of Totara LMS

   Copyright (C) 2016 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.

   @author Petr Skoda <petr.skoda@totaralms.com>
   @package totara_form
}}
{{!

    @template totara_form/element_filepicker

    This template generates Totara form file picker element.

    NOTE: the markup is based on \core_renderer::render_file_picker()

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
     * form_item_template string this template, used for dynamic partials
     * name__xxxx bool true where xxxx is the name of this form item
     * name string name of this item
     * id string id of this item
     * label string
     * frozen bool
     * value int drafitemid
     * contextid int id of the form context
     * maxbytes int maximum file size in bytes, -1 means unlimited
     * displaymaxsize string human readable maximum file size
     * fpoptions string json encoded settings for core_filepicker
     * currentfile string html markup with current file if present
     * client_id string magic client id

    Other context variables for following partials:
     * totara_form/help_button
     * totara_form/validation_errors

    Example context (json):
        {
            "form_item_template":"totara_form\/element_filepicker",
            "name__filepicker":true,
            "name":"filepicker",
            "id":"tfiid_filepicker_totara_form_form_testform_element_compilation",
            "label":"File picker",
            "frozen":false,
            "amdmodule":"totara_form\/form_element_filepicker",
            "accept":false,
            "required":false,
            "value":"601536497",
            "maxbytes":"67108864",
            "fpoptions":"json_encoded file picker options",
            "displaymaxsize":"64MB",
            "currentfile":"",
            "client_id":"577064ad87703831755845",
            "errors_has_items":false,
            "errors":[],
            "helphtml":false,
            "elementtype":"totara_form\\form\\element\\filepicker",
            "elementid":"tfiid_filepicker_totara_form_form_testform_element_compilation",
            "elementclassification":"element"
        }
}}
<div class="tf_element totara_form_element_filepicker">
    <input type="hidden" id="{{id}}" {{#frozen}}data-{{/frozen}}name="{{name}}" value="{{value}}" data-fpoptions="{{fpoptions}}" />
    <div class="tf_element_title"><span class="legend">{{label}}{{#required}}{{> totara_form/required_suffix}}{{/required}}</span>{{> totara_form/help_button}}</div>
    <div class="tf_element_input">{{> totara_form/validation_errors}}
        {{#frozen}}
            {{! TODO TL-9421: somehow list current files}}
            <div id="filepicker-wrapper-{{client_id}}" class="mdl-left">
                <input type="button" disabled class="fp-btn-choose" id="filepicker-button-{{client_id}}" value="{{#str}}openpicker,repository{{/str}}"/>
            </div>
        {{/frozen}}{{^frozen}}

        <div class="filemanager-loading mdl-align" id='filepicker-loading-{{client_id}}'>
            {{#flex_icon}}loading, loading, repository{{/flex_icon}}
        </div>
        <div id="filepicker-wrapper-{{client_id}}" class="mdl-left" style="display:none">
            <div>
                <input type="button" class="fp-btn-choose" id="filepicker-button-{{client_id}}" value="{{#str}}openpicker,repository{{/str}}"/>
                <span> {{#displaymaxsize_string}}{{{.}}}{{/displaymaxsize_string}} </span>
            </div>
        </div>
        <div id="file_info_{{client_id}}" class="mdl-left filepicker-filelist" style="position: relative">
            {{#currentfile}}
                <div class="filepicker-filename">
                    <div class="filepicker-container">{{{.}}}</div>
                    <div class="dndupload-progressbars"></div>
                </div>
            {{/currentfile}}
            {{^currentfile}}
                <div class="filepicker-filename">
                    <div class="filepicker-container"><div class="dndupload-message">{{#str}}dndenabled_inbox{{/str}} <br/><div class="dndupload-arrow">{{#flex_icon}}upload, , , ft-size-700{{/flex_icon}}</div></div></div>
                    <div class="dndupload-progressbars"></div>
                </div>
            {{/currentfile}}
            <div><div class="dndupload-target">{{#str}}droptoupload{{/str}}<br/><div class="dndupload-arrow">{{#flex_icon}}upload, , , ft-size-700{{/flex_icon}}</div></div></div>
        </div>

        {{/frozen}}
    </div>
</div>