{{!
   This file is part of Totara Learn

   Copyright (C) 2017 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.

   @author Kevin Hottinger <kevin.hottinger@totaralearning.com>
   @package totara_form
}}
{{!

    @template totara_form/group_wizard_stage

    This template generates Totara form group wizard stage.

    Classes required for JS:
    * n/a

    Data attributes required for JS:
    * n/a

    Context variables required for this template:
     * hidden: bool
     * title: string stage title
     * amdmodule: string
     * form_item_template: string this template, used for dynamic partials
     * frozen: bool
     * items.elementclassification: string 'group' or 'element'
     * items.elementtype: element type
     * items.elementid: element id

     Other context variables for following partials:
      * totara_form/validation_errors

    Example context (json):
      There is no example for this template.
}}

<div class="tf_group totara_form_group_wizard_stage{{#hidden}} hidden{{/hidden}}">
    <fieldset class="tf_wizard_stage_items">
        <legend class="tf_wizard_stage_legend">{{title}}</legend>
        {{#items}}
            <div data-item-classification="{{elementclassification}}"
                 data-element-type="{{elementtype}}"
                 data-element-id="{{elementid}}"
                 data-element-template="{{form_item_template}}"
                 data-element-frozen="{{frozen}}"
                 {{#amdmodule}}data-element-amd-module="{{.}}"{{/amdmodule}}
                 class="nostyles">
                {{> &&form_item_template }}
            </div>
        {{/items}}
    </fieldset>
    {{> totara_form/validation_errors}}
</div>
