<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home3">{{#str}} browse, tool_policy {{/str}}</a></li>
  <li><a data-toggle="tab" href="#menu3">{{#str}} search, tool_policy {{/str}}</a></li>
</ul>

<div class="tab-content">
  <div id="home3" class="tab-pane fade in active">
   
	<div class="itemToAdd">
    <h4>{{#str}} itemstoadd, tool_policy {{/str}}</h4>
    <ul id="auditemstoadd"></ul>
    </div>
      <ul class="subFolderPanel2">
     {{#audiences}}    
              <li><a href="#" class="audclickable" id="auditemid_{{{audid}}}" data-audiencename="{{{audname}}}">{{{audname}}}</a></li>
     {{/audiences}}
      </ul>
  </div>
  <div id="menu3" class="tab-pane fade">
   
    <p class="search_label_policy">{{#str}} searchaudiences, tool_policy {{/str}} <input type="search" id="inputAudienceSearch"></p>
   
    <div id="searchedAudienceTxt"></div>
	 <div class="itemToAdd">
    <h4>{{#str}} itemstoadd, tool_policy {{/str}}</h4>
    <ul id="auditemstoadd1"></ul>
    </div>
  </div>
  <br>
  <br>
  
</div>

{{#js}}

$(document).ready(function() {
var editversionid = $("#editversionid").val();
var wwwroot = M.cfg.wwwroot;
$.ajax({
  url: wwwroot + "/admin/tool/policy/ajaxrelatedaudiences.php",
  data: {audiencetxt : 'audience', editversionid : editversionid},
  dataType: "json",
  success: function(html){
    var coursedata = JSON.stringify(html);
    var addedli = '';
    $.each(JSON.parse(coursedata), function(i, object) {
     if(object.id != null)
     {
      addedli += '<li class="audaddeditems audaddeditem_'+ object.id +'" id="audaddeditem_'+ object.id +'"><a href="#">'+ object.name +'</a></li>';
      }
    });
        $("#auditemstoadd").append(addedli);
        $("#auditemstoadd1").append(addedli);
  }
});
});

$(document).ready(function() {
$('#inputAudienceSearch').on('input',function(e){
    var wwwroot = M.cfg.wwwroot;
    $("#searchedAudienceTxt").html("");
    var searchedTxt = this.value;
    $.ajax({
      url: wwwroot + "/admin/tool/policy/ajaxrelatedaudiences.php",
      data: {searchtxt : searchedTxt},
      dataType: "json",
      success: function(html){
        var cresult = JSON.stringify(html);
        var srtxt = '';
            srtxt += '<ul class="subFolderPanel2Search">';
            var subsrtxt = '';
            $.each(JSON.parse(cresult), function(idx, obj) {
            
              subsrtxt += '<li><a href="#" class="audclickable" id="auditemid1_'+ obj.id +'" data-audiencename="'+ obj.name +'">'+ obj.name +'</li>';
             
            });

        srtxt += subsrtxt + '</ul>';
        $("#searchedAudienceTxt").append(srtxt);
        }
    });

});
});

$(document).ready(function() {
      $(document).on('click', '.audclickable', function() {
      //$(".audclickable").click(function() {
        var id = this.id;
        var audience = id.split("_");
        var pids = $("#audiencesid").val();
        var pidssarr = pids.split(',');
        if(pidssarr.indexOf(audience[1]) == -1) {
        var audiencename = $("#"+ this.id).attr("data-audiencename");
        var addedli = '<li class="audaddeditems audaddeditem_'+ audience[1] +'" id="audaddeditem_'+ audience[1] +'"><a href="#">'+ audiencename +'</a></li>';
        $("#auditemstoadd").append(addedli);
        $("#auditemstoadd1").append(addedli);
        var audienceids = $("#audiencesid").val();
        var courseidarr = [];
        if(audienceids == "") {
            $("#audiencesid").val(audience[1]);
        } else {
            audienceids = $("#audiencesid").val();
            audienceids = audienceids.split(",");
            audienceids.push(audience[1]);
            $("#audiencesid").val(audienceids);
        }
        }
     });
     $(document).on('click', '.audaddeditems', function(){
        audienceids = $("#audiencesid").val();
        audienceids = audienceids.split(",");
        var id = this.id;
        var audience = id.split("_");
        var deletedarr = removeA(audienceids, audience[1]);
        $(".audaddeditem_" + audience[1]).remove();
        $("#audiencesid").val(deletedarr);
     });
  });

  function removeA(arr) {
    var what, a = arguments, L = a.length, ax;
    while (L > 1 && arr.length) {
        what = a[--L];
        while ((ax= arr.indexOf(what)) !== -1) {
            arr.splice(ax, 1);
        }
    }
    return arr;
}

{{/js}}