<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home1">{{#str}} browse, tool_policy {{/str}}</a></li>
  <li><a data-toggle="tab" href="#menu1">{{#str}} search, tool_policy {{/str}}</a></li>
</ul>

<div class="tab-content">
  <div id="home1" class="tab-pane fade in active">
   
	<div class="itemToAdd">
    <h4>{{#str}} itemstoadd, tool_policy {{/str}}</h4>
    <ul id="pitemstoadd"></ul>
    </div>
      <ul class="subFolderPanel">
     {{#policies}}    
              <li><a href="#" class="pclickable" id="pitemid_{{{pid}}}" data-policyname="{{{pname}}}">{{{pname}}}</a></li>
     {{/policies}}
      </ul>
  </div>
  <div id="menu1" class="tab-pane fade clearfix">
    <p class="search_label_policy">{{#str}} searchpolicies, tool_policy {{/str}} <input type="search" id="inputPolicySearch"></p>
   
    <div id="searchedpolicytxt"></div>
	 <div class="itemToAdd">
    <h4>{{#str}} itemstoadd, tool_policy {{/str}}</h4>
    <ul id="pitemstoadd1"></ul>
    </div>
  </div>
</div>

{{#js}}

$(document).ready(function() {

var editversionid = $("#editversionid").val();
var wwwroot = M.cfg.wwwroot;
$.ajax({
  url: wwwroot + "/admin/tool/policy/ajaxrelatedpolicies.php",
  data: {policytxt : 'policy', editversionid : editversionid},
  dataType: "json",
  success: function(html){
    var coursedata = JSON.stringify(html);
    var addedli = '';

    
    $.each(JSON.parse(coursedata), function(i, object) {
     if(object.id != null)
     {
      addedli += '<li class="paddeditems paddeditem_'+ object.id +'" id="paddeditem_'+ object.id +'"><a href="#">'+ object.name +'</a></li>';
      }
    });
    
        $("#pitemstoadd").append(addedli);
        $("#pitemstoadd1").append(addedli);
  }
});
});

$(document).ready(function() {
$('#inputPolicySearch').on('input',function(e){
    var wwwroot = M.cfg.wwwroot;
    $("#searchedpolicytxt").html("");
    var searchedpolicytxt = this.value;
    $.ajax({
      url: wwwroot + "/admin/tool/policy/ajaxrelatedpolicies.php",
      data: {searchtxt : searchedpolicytxt},
      dataType: "json",
      success: function(html){
        var cresult = JSON.stringify(html);
        var srtxt = '';
            srtxt += '<ul class="subFolderPanelSearch">';
            var subsrtxt = '';
            $.each(JSON.parse(cresult), function(idx, obj) {
            
              subsrtxt += '<li><a href="#" class="pclickable" id="pitemid1_'+ obj.policyid +'" data-policyname="'+ obj.policyname +'">'+ obj.policyname +'</li>';
            });

        srtxt += subsrtxt + '</ul>';
        $("#searchedpolicytxt").append(srtxt);
        }
    });

});
});


$(document).ready(function() {
      $(document).on('click', '.pclickable', function() {
      
      //$(".pclickable").click(function() {
        var id = this.id;
        var policy = id.split("_");
        var pids = $("#policyids").val();
        var pidssarr = pids.split(',');
        if(pidssarr.indexOf(policy[1]) == -1) {
        var policyname = $("#"+ this.id).attr("data-policyname");
        var addedli = '<li class="paddeditems paddeditem_'+ policy[1] +'" id="paddeditem_'+ policy[1] +'"><a href="#">'+ policyname +'</a></li>';
        $("#pitemstoadd").append(addedli);
        $("#pitemstoadd1").append(addedli);
        var policyids = $("#policyids").val();
        var courseidarr = [];
        if(policyids == "") {
            $("#policyids").val(policy[1]);
        } else {
            policyids = $("#policyids").val();
            policyids = policyids.split(",");
            policyids.push(policy[1]);
            $("#policyids").val(policyids);
        }
        }
     });
     $(document).on('click', '.paddeditems', function(){
        policyids = $("#policyids").val();
        policyids = policyids.split(",");
        var id = this.id;
        var policy = id.split("_");
        var deletedarr = removeA(policyids, policy[1]);
        $(".paddeditem_" + policy[1]).remove();
        $("#policyids").val(deletedarr);
     });
  });

  function removeA(arr) {
    var what, a = arguments, L = a.length, ax;
    while (L > 1 && arr.length) {
        what = a[--L];
        while ((ax= arr.indexOf(what)) !== -1) {
            arr.splice(ax, 1);
        }
    }
    return arr;
}

{{/js}}