{{!
   This file is part of Totara LMS

   Copyright (C) 2016 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template totara_plan/view_plan_component

    A template when viewing an individual course/competency/objective

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * title The title of the course/competency/objective
    * icon The icon of the course/competency/objective
    * launch Whether to display the launch button (only used when viewing a course)
    * launchurl The URL for the course (only used when viewing a course)
    * edit_objective Data for the objective button (only used when viewing an objective)
    * has_extra_information Whether there is any extra information to display for this component
    * extras an array of strings that contain the extra information

    Example context (json):
    {
        "title": "Competency 10",
        "icon": "<img class=\"competency_state_icon\" alt=\"\" src=\"__WWWROOT__/theme/image.php?theme=__THEME__&amp;amp;component=totara_core&amp;amp;image=%2Fmsgicons%2Fcompetency-regular\" />",
        "has_extra_information": true,
        "extras": [
            "This is some extra information",
            "like 'Due Date: 12th April 2001'"
        ],
        "description": ""
    }
}}
{{#launch}}
    <div class="plan-launch-course-button"><a href="{{launchurl}}">{{#str}}launchcourse, totara_plan{{/str}}</a></div>
{{/launch}}
<h3>{{{icon}}} {{title}}</h3>
{{#edit_objective}}
<div class="add-linked-course">
    <div class="{{class}}">
        <form action="{{url}}" method="{{method}}">
        <div>
            {{#params}}
                <input type="hidden" name="{{name}}" value="{{value}}">
            {{/params}}
            <input type="submit" id="{{id}}" name="submitbutton" class="submitbutton" value="{{label}}">
        </div>
        </form>
    </div>
</div>
{{/edit_objective}}
{{#has_extra_information}}
<ul class="planiteminfobox">
    {{#extras}}
        <li class="extra">
            {{{.}}}
        </li>
    {{/extras}}
</ul>
{{/has_extra_information}}
{{#description}}<p>{{{.}}}</p>{{/description}}
