.block_image_link.block .content {
	padding: 0;
	border: 0;
}

.block_image_link.block .content .header {
	border-bottom: 1px solid white;
}

.block_image_link.block .content .image {
	padding:0;
	position: relative;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 60%;
}

.block_image_link.block .content .image img {
	width: 100%;
	max-width: 100%;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    min-height: 100%;
    visibility: hidden;
}

.block_image_link.block .content .image a {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.block_image_link.block .content .header a,
.block_image_link.block .content .header a:hover {
	text-decoration: none;
}

.block_image_link.block .content .header.colored a,
.block_image_link.block .content .header.colored a:hover {
	text-decoration: none;
	color: white;
}
