{{!
   This file is part of Totara LMS

   Copyright (C) 2015 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template totara_hierarchy/admin_scales

    Creates the totara menu.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * menuitems Array The menu items

    Example context (json):
    {
        "heading": "Goal scales",
        "scales": {
            "table": {
                "body": [
                    {
                        "cells": [
                            {
                                "abbr": null,
                                "cellid": null,
                                "cellscope": null,
                                "colspan": null,
                                "rowspan": null,
                                "column": "0",
                                "content": "<a href=\"#\">Goal scale</a>",
                                "cellattributes": null,
                                "cellclasses": null,
                                "cellstyle": null,
                                "header": false,
                                "lastcol": false
                            },
                            {
                                "abbr": null,
                                "cellid": null,
                                "cellscope": null,
                                "colspan": null,
                                "rowspan": null,
                                "column": "1",
                                "content": "Yes",
                                "cellattributes": null,
                                "cellclasses": null,
                                "cellstyle": null,
                                "header": false,
                                "lastcol": false
                            },
                            {
                                "abbr": null,
                                "cellid": null,
                                "cellscope": null,
                                "colspan": null,
                                "rowspan": null,
                                "column": "2",
                                "content": "<a title=\"Edit\" class=\"action-icon\" href=\"#\"><img class=\"smallicon\" alt=\"Edit\" title=\"Edit\" src=\"../../../theme/image.php?theme=basis&amp;amp;component=core&amp;amp;image=t%2Fedit\" /></a><img class=\"iconsmall disabled\" title=\"You cannot delete that goal scale because it is in use\" alt=\"You cannot delete that goal scale because it is in use\" src=\"../../../theme/image.php?theme=standardtotararesponsive&amp;amp;component=totara_core&amp;amp;image=t%2Fdelete_grey\" />",
                                "cellattributes": null,
                                "cellclasses": null,
                                "cellstyle": null,
                                "header": false,
                                "lastcol": true
                            }
                        ],
                        "divider": false,
                        "lastrow": true,
                        "rowattributes": [

                        ],
                        "rowclasses": null,
                        "rowid": null,
                        "rowstyle": null
                    }
                ],
                "caption": null,
                "cellpadding": null,
                "cellspacing": null,
                "columns": 3,
                "has_head": true,
                "has_body": true,
                "head": [
                    {
                        "abbr": null,
                        "cellid": null,
                        "cellscope": "col",
                        "colspan": null,
                        "rowspan": null,
                        "column": "0",
                        "content": "Scale",
                        "cellattributes": null,
                        "cellclasses": null,
                        "cellstyle": null,
                        "header": true,
                        "lastcol": false
                    },
                    {
                        "abbr": null,
                        "cellid": null,
                        "cellscope": "col",
                        "colspan": null,
                        "rowspan": null,
                        "column": "1",
                        "content": "Used",
                        "cellattributes": null,
                        "cellclasses": null,
                        "cellstyle": null,
                        "header": true,
                        "lastcol": false
                    },
                    {
                        "abbr": null,
                        "cellid": null,
                        "cellscope": "col",
                        "colspan": null,
                        "rowspan": null,
                        "column": "2",
                        "content": "Options",
                        "cellattributes": null,
                        "cellclasses": null,
                        "cellstyle": null,
                        "header": true,
                        "lastcol": true
                    }
                ],
                "id": null,
                "summary": null,
                "tableattributes": [

                ],
                "tableclasses": null,
                "width": null
            }
        },
        "add": "<div class=\"singlebutton\"><form method=\"get\" action=\"#\"><div><input type=\"submit\" value=\"Add a new goal scale\" /><input type=\"hidden\" name=\"prefix\" value=\"goal\" /></div></form></div><span class=\"helptooltip\"><a href=\"../../../help.php?component=totara_hierarchy&amp;identifier=goalscalesgeneral&amp;lang=en\" title=\"Help with Goal Scale\" aria-haspopup=\"true\" target=\"_blank\"><img src=\"../../../theme/image.php?theme=basis&amp;component=core&amp;image=help\" alt=\"Help with Goal Scale\" class=\"iconhelp\" /></a></span>"
    }
}}
<h2>{{heading}}</h2>
{{#informationaltext}}{{{informationaltext}}}{{/informationaltext}}
{{#scales}}{{> core/table }}{{/scales}}
{{^scales}}
    <p>{{#str}}noscalesdefined, totara_hierarchy{{/str}}</p>
{{/scales}}
{{#addbuttons}}
    <div class="buttons">{{{.}}}</div>
{{/addbuttons}}
