{{!
   This file is part of Totara LMS

   Copyright (C) 2015 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template totara_hierarchy/assigned_goals

    Create a toolbars area for a table.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:

    Example context (json):
    {
        "prefix": "organisation",
        "assignedgoals": {
            "table": {
                "body": [
                    {
                        "cells": [
                            {
                                "abbr": null,
                                "cellid": null,
                                "cellscope": null,
                                "colspan": null,
                                "rowspan": null,
                                "column": "0",
                                "content": "<a href=\"#\">Goal 3</a>",
                                "cellattributes": null,
                                "cellclasses": null,
                                "cellstyle": null,
                                "header": false,
                                "lastcol": false
                            },
                            {
                                "abbr": null,
                                "cellid": null,
                                "cellscope": null,
                                "colspan": null,
                                "rowspan": null,
                                "column": "1",
                                "content": "This level",
                                "cellattributes": null,
                                "cellclasses": null,
                                "cellstyle": null,
                                "header": false,
                                "lastcol": false
                            },
                            {
                                "abbr": null,
                                "cellid": null,
                                "cellscope": null,
                                "colspan": null,
                                "rowspan": null,
                                "column": "2",
                                "content": "<a id=\"goalassigdel\" title=\"Remove\" class=\"action-icon\" href=\"#\"><img class=\"iconsmall\" alt=\"Remove\" title=\"Remove\" src=\"__WWWROOT__/theme/image.php?theme=__THEME__&amp;amp;component=core&amp;amp;image=t%2Fdelete\" /></a>",
                                "cellattributes": null,
                                "cellclasses": null,
                                "cellstyle": null,
                                "header": false,
                                "lastcol": true
                            }
                        ],
                        "divider": false,
                        "lastrow": false,
                        "rowattributes": [

                        ],
                        "rowclasses": null,
                        "rowid": null,
                        "rowstyle": null
                    },
                    {
                        "cells": [
                            {
                                "abbr": null,
                                "cellid": null,
                                "cellscope": null,
                                "colspan": null,
                                "rowspan": null,
                                "column": "0",
                                "content": "<a href=\"#\">Goal 7</a>",
                                "cellattributes": null,
                                "cellclasses": null,
                                "cellstyle": null,
                                "header": false,
                                "lastcol": false
                            },
                            {
                                "abbr": null,
                                "cellid": null,
                                "cellscope": null,
                                "colspan": null,
                                "rowspan": null,
                                "column": "1",
                                "content": "This level",
                                "cellattributes": null,
                                "cellclasses": null,
                                "cellstyle": null,
                                "header": false,
                                "lastcol": false
                            },
                            {
                                "abbr": null,
                                "cellid": null,
                                "cellscope": null,
                                "colspan": null,
                                "rowspan": null,
                                "column": "2",
                                "content": "<a id=\"goalassigdel\" title=\"Remove\" class=\"action-icon\" href=\"#\"><img class=\"iconsmall\" alt=\"Remove\" title=\"Remove\" src=\"__WWWROOT__/theme/image.php?theme=__THEME__&amp;amp;component=core&amp;amp;image=t%2Fdelete\" /></a>",
                                "cellattributes": null,
                                "cellclasses": null,
                                "cellstyle": null,
                                "header": false,
                                "lastcol": true
                            }
                        ],
                        "divider": false,
                        "lastrow": false,
                        "rowattributes": [

                        ],
                        "rowclasses": null,
                        "rowid": null,
                        "rowstyle": null
                    },
                    {
                        "cells": [
                            {
                                "abbr": null,
                                "cellid": null,
                                "cellscope": null,
                                "colspan": null,
                                "rowspan": null,
                                "column": "0",
                                "content": "<a href=\"#\">Goal 9</a>",
                                "cellattributes": null,
                                "cellclasses": null,
                                "cellstyle": null,
                                "header": false,
                                "lastcol": false
                            },
                            {
                                "abbr": null,
                                "cellid": null,
                                "cellscope": null,
                                "colspan": null,
                                "rowspan": null,
                                "column": "1",
                                "content": "This level",
                                "cellattributes": null,
                                "cellclasses": null,
                                "cellstyle": null,
                                "header": false,
                                "lastcol": false
                            },
                            {
                                "abbr": null,
                                "cellid": null,
                                "cellscope": null,
                                "colspan": null,
                                "rowspan": null,
                                "column": "2",
                                "content": "<a id=\"goalassigdel\" title=\"Remove\" class=\"action-icon\" href=\"#\"><img class=\"iconsmall\" alt=\"Remove\" title=\"Remove\" src=\"__WWWROOT__/theme/image.php?theme=__THEME__&amp;amp;component=core&amp;amp;image=t%2Fdelete\" /></a>",
                                "cellattributes": null,
                                "cellclasses": null,
                                "cellstyle": null,
                                "header": false,
                                "lastcol": true
                            }
                        ],
                        "divider": false,
                        "lastrow": false,
                        "rowattributes": [

                        ],
                        "rowclasses": null,
                        "rowid": null,
                        "rowstyle": null
                    },
                    {
                        "cells": [
                            {
                                "abbr": null,
                                "cellid": null,
                                "cellscope": null,
                                "colspan": null,
                                "rowspan": null,
                                "column": "0",
                                "content": "<a href=\"#\">Goal 10</a>",
                                "cellattributes": null,
                                "cellclasses": null,
                                "cellstyle": null,
                                "header": false,
                                "lastcol": false
                            },
                            {
                                "abbr": null,
                                "cellid": null,
                                "cellscope": null,
                                "colspan": null,
                                "rowspan": null,
                                "column": "1",
                                "content": "This level",
                                "cellattributes": null,
                                "cellclasses": null,
                                "cellstyle": null,
                                "header": false,
                                "lastcol": false
                            },
                            {
                                "abbr": null,
                                "cellid": null,
                                "cellscope": null,
                                "colspan": null,
                                "rowspan": null,
                                "column": "2",
                                "content": "<a id=\"goalassigdel\" title=\"Remove\" class=\"action-icon\" href=\"#\"><img class=\"iconsmall\" alt=\"Remove\" title=\"Remove\" src=\"__WWWROOT__/theme/image.php?theme=__THEME__&amp;amp;component=core&amp;amp;image=t%2Fdelete\" /></a>",
                                "cellattributes": null,
                                "cellclasses": null,
                                "cellstyle": null,
                                "header": false,
                                "lastcol": true
                            }
                        ],
                        "divider": false,
                        "lastrow": true,
                        "rowattributes": [

                        ],
                        "rowclasses": null,
                        "rowid": null,
                        "rowstyle": null
                    }
                ],
                "caption": null,
                "cellpadding": null,
                "cellspacing": null,
                "columns": 3,
                "has_head": true,
                "has_body": true,
                "head": [
                    {
                        "abbr": null,
                        "cellid": null,
                        "cellscope": "col",
                        "colspan": null,
                        "rowspan": null,
                        "column": "0",
                        "content": "Name",
                        "cellattributes": null,
                        "cellclasses": null,
                        "cellstyle": null,
                        "header": true,
                        "lastcol": false
                    },
                    {
                        "abbr": null,
                        "cellid": null,
                        "cellscope": "col",
                        "colspan": null,
                        "rowspan": null,
                        "column": "1",
                        "content": "Assigned at",
                        "cellattributes": null,
                        "cellclasses": null,
                        "cellstyle": null,
                        "header": true,
                        "lastcol": false
                    },
                    {
                        "abbr": null,
                        "cellid": null,
                        "cellscope": "col",
                        "colspan": null,
                        "rowspan": null,
                        "column": "2",
                        "content": "Delete",
                        "cellattributes": null,
                        "cellclasses": null,
                        "cellstyle": null,
                        "header": true,
                        "lastcol": true
                    }
                ],
                "id": null,
                "summary": null,
                "tableattributes": [

                ],
                "tableclasses": null,
                "width": null
            }
        },
        "can_edit": true,
        "addgoalurl": "#",
        "itemid": "3",
        "assignmenttype": 4,
        "returnval": "#",
        "sesskey": "uq16iYKsb1"
    }
}}
<div id="print_assigned_goals" class="{{prefix}}">
    {{^assignedgoals}}
        <div class="nogoals">
            <p>{{#str}}noassignedgoals, totara_hierarchy{{/str}}</p>
        </div>
    {{/assignedgoals}}
    {{#assignedgoals}}
        {{>core/table}}
    {{/assignedgoals}}
    {{#can_edit}}
        <div class="buttons">
            <div class="singlebutton">
                <form action="{{{addgoalurl}}}" method="get">
                    <div>
                        <input type="submit" id="show-assignedgoals-dialog"
                            value="{{#str}}addgoal, totara_hierarchy{{/str}}" />
                        <input type="hidden" name="assignto" value="{{itemid}}" />
                        <input type="hidden" name="assigntype" value="{{assignmenttype}}" />
                        <input type="hidden" name="nojs" value="1" />
                        <input type="hidden" name="returnurl" value="{{returnval}}" />
                        <input type="hidden" name="s" value="{{sesskey}}" />
                    </div>
                </form>
            </div>
        </div>
    {{/can_edit}}
</div>