.config-mod-ojt-topic-heading,
.mod-ojt-topic-heading {
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}

#mod-ojt-user-ojt {
    padding-bottom: 2em;
}

.mod-ojt-topic-heading {
    padding-left: 0.8em;
}


.mod-ojt-topic-heading.collapsed {
    background: url([[pix:moodle|t/collapsed]]) no-repeat left center;
}

.mod-ojt-topic-heading.expanded {
    background: url([[pix:moodle|t/expanded]]) no-repeat left center;
}

.mod-ojt-topic-addbtn {
    float: right;
}

#config-mod-ojt-topics {
    padding-bottom: 2em;
}

.config-mod-ojt-topic-items {
    margin-left: 1em;
    font-size: 1.2em;
}

.config-mod-ojt-topic-item,
#mod-ojt-user-ojt .mod-ojt-topic-item {
    padding: 0.3em;
}

#mod-ojt-user-ojt .mod-ojt-topic-items {
    font-size: 1.2em;
    display: table;
}

#mod-ojt-user-ojt .mod-ojt-modifiedstr,
#mod-ojt-user-ojt .mod-ojt-witnessedstr,
#mod-ojt-user-ojt .mod-ojt-topic-modifiedstr {
    font-size: 0.8em;
    font-style: italic;
    color: grey;
}

#mod-ojt-user-ojt .mod-ojt-topic-signoff {
    padding-left: 1em;
}

#mod-ojt-user-ojt .mod-ojt-topic-signoff img {
    padding-left: 0.4em;
}

img.ojt-topic-completion-status {
    vertical-align: baseline;
}

#mod-ojt-user-ojt textarea.ojt-completion-comment {
    margin-left: 0.4em;
    width: 90%;
}

#ojt-eval-icon-templates {
    display: none;
}

#mod-ojt-user-ojt .mod-ojt-topic table td.c0 {
    width: 40%;
}

#mod-ojt-user-ojt .mod-ojt-topic table td.c1 {
    width: 60%;
}

.evalprint {
    float: right;
}

#mod-ojt-user-ojt .ojt-completion-comment-print {
    display: none;
}

.user-ojt-comments-warning {
    display: none;
}

.mod-ojt-evalstudents-btn,
.mod-ojt-evalself-btn,
.mod-ojt-manage-btn {
    float: right;
}

.mod-ojt-topicitem-files {
    font-size: 0.8em;
}


/**
 * printing styles
 */
.formOjtWitness .ojt-eval-actions span{
    display: block;
    float: left;
    }
.formOjtWitness .ojt-eval-actions span:before, .formOjtWitness .ojt-item-witness span:before{
    font-size: 18px;

padding-right:10px;

padding-top: 4px;

display: block;
}
.formOjtWitness .singlebutton input{
    margin-left:2px;
        margin-top: 10px;
    }
.formOjtWitness .mod-ojt-modifiedstr{
        padding-left:6px;
    }
.formOjtWitness .lastcol p{
    text-align:left;
    margin-top: 5px;
    }
.formOjtWitness textarea.ojt-completion-comment {
    height: 46px;
    resize:none;
    }
 
 .formOjtWitness .mod-ojt-topic-signoff {
    padding-left:6px!important;
    margin-bottom: 17px;
}
 .formOjtWitness .mod-ojt-topic-signoff .mod-ojt-topic-modifiedstr {
     padding-left: 25px;
 }
 
.formOjtWitness .mod-ojt-topic-signoff span{
    margin-left: 0;
    font-size: 18px;
    margin-right:9px;
    }
.formOjtWitness  .comment-area textarea{
    resize:none;
    height:50px;
    }
.formOjtWitness .comment-area{
    max-width: 602px;
    padding: 5px;
    margin-left:0;
    width: 100%;
    }
.formOjtWitness .comment-area textarea{
    height:87px;
    resize:none;
    }
 .formOjtWitness .mod-ojt-topicitem-files { 
    padding-left:9px;
}

/*.dir-rtl .formOjtWitness .mod-ojt-topic-signoff {
    padding-right: 38%!important; 
}*/

@media print {
    @page {
        margin: 25mm !important;
    }

    #block-region-side-pre,
    #block-region-side-post,
    #page-header,
    #page-footer,
    .evalprint,
    .logininfo,
    .navbar,
    textarea.ojt-completion-comment,
    .user-ojt-comments-warning,
    #totaramenu {
        display: none !important;
    }

    #region-main {
        width: 100% !important;
        padding: 0;
    }

    #mod-ojt-user-ojt .ojt-completion-comment-print {
        display: block;
    }

    #mod-ojt-user-ojt .mod-ojt-topic-heading {
        padding-left: 0;
    }

    #mod-ojt-user-ojt .mod-ojt-topic-items {
        display: table;
    }
    #mod-ojt-user-ojt .mod-ojt-topic {
        page-break-inside : avoid;
    }
}

