{{!
   This file is part of Totara Learn

   Copyright (C) 2018 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.

   @author Greg Newton <greg.newton@androgogic.com>
   @package contentmarketplace_goone
}}
<div class="tf_element totara_form_element_listeditor">
    <div class="tf_element_title"><span class="legend" data-element-label>{{label}}{{#required}}{{> totara_form/required_suffix}}{{/required}}</span>{{> totara_form/help_button}}</div>
    <div class="tf_element_input" id="{{id}}">{{> totara_form/validation_errors}}
    <ul class="list-unstyled">
        {{#items}}
        <li id="{{id}}_{{oid}}">
            {{text}} <input type="hidden" name="{{name}}[]" value="{{oid}}"/>
            <a href="#">{{#str}}remove{{/str}}</a><span class="tf_loading" style="display: none;">{{#pix}} i/loading, core, loading, totara_core{{/pix}}</span>
        </li>
        {{/items}}
    </ul>
</div>
</div>
