{{!
   This file is part of Totara Learn

   Copyright (C) 2018 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.

   @author Michael Dunstan <michael.dunstan@androgogic.com>
   @package contentmarketplace_goone
}}
{{!
    @template contentmarketplace_goone/thumbnail

    Thumbnail to display an individual search result

    Example context (json):
    {
        "id": 2190978,
        "image": "/totara/contentmarketplace/contentmarketplaces/goone/tests/behat/fixtures/image.jpg",
        "title": "Search Engines",
        "delivery": [
            {
                "title": "20 HRS"
            },
            {
                "title": "Self paced",
                "last": true
            }
        ],
        "delivery_has_items": true,
        "provider": {
            "name": "E3Learning"
        },
        "price": "AUD 1,234.00"
    }
}}
<div>
    <div class="tcm-goone-search-thumbnail-img" style="background-image: url('{{ image }}');">
        <div class="tcm-thumbnail_selection">
            <input type="checkbox" id="selection-{{id}}" value="{{id}}"/>
            <label for="selection-{{id}}"><span class="sr-only">{{selectlabel}}</span></label>
        </div>
    </div>
    <div class="tcm-goone-search-metadata">
        <div  class="tcm-goone-search-description">
            <h3>{{ title }}</h3>
            <div class="tcm-goone-search-fade"></div>
        </div>
        <div class="tcm-goone-search-text-metadata">
            {{#delivery_has_items}}
                <div class="tcm-goone-search-delivery">{{#delivery}}{{ title }} {{^last}}&bull;{{/last}} {{/delivery}}</div>
            {{/delivery_has_items}}
            {{#provider}}<div class="tcm-goone-search-provider">{{ name }}</div>{{/provider}}
            <span class="tcm-goone-search-location">{{#flex_icon}}contentmarketplace_goone|online{{/flex_icon}} {{#str}} online, contentmarketplace_goone{{/str}}</span>
            <span class="tcm-goone-search-price pull-right">{{price}}</span>
        </div>
        <div class="tcm-goone-search-icon-metadata">
            {{#is_in_collection}}
                {{#flex_icon}}file-ebook, in_collection, totara_contentmarketplace, tcm-search-metadata-icon{{/flex_icon}}
            {{/is_in_collection}}
        </div>
    </div>
</div>
