.coursecompletionstatus {
    display: block;
    width: 39px;
    height: 12px;
    background: transparent url('[[pix:totara_core|progress-icons]]') no-repeat;
}
.dir-rtl .coursecompletionstatus {
    background-image: url('[[pix:totara_core|progress-icons-rtl]]');
}

.coursecompletionstatus.completion-inprogress {
    background-position: 0 -12px;
}

.coursecompletionstatus.completion-complete {
    background-position: 0 -24px;
}

.coursecompletionstatus.completion-completeviarpl {
    background-position: 0 -24px;
}

/**
 * Wrap this div round the datepicker text field and icon to avoid
 * issues in RTL languages.
 */
div.datepicker-wrapper {
    display: inline-block;
}

table.namewithlinks-layout {
    width: 100%;
}

ul.reportmanager {
    margin: 0;
    list-style-type: none;
}

ul.reportmanager img {
    padding: 2px 5px;
    vertical-align: middle;
}

#browse-tab,
#search-tab,
.selected.dialog-nobind {
    overflow-y: auto;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
}

.totara-dialog .paging {
    clear: both;
}

div.totara-dialog .selected div.treeview-selected-item {
    display: none;
}

.totara-dialog #fitem_id_query,
.totara-dialog #fitem_id_frameworkid,
.totara-dialog #fitem_id_dialogsearchsubmitbutton {
    float: left;
    display: inline-block;
    width: auto;
}

.totara-dialog #fitem_id_query .felement,
.totara-dialog #fitem_id_frameworkid .felement,
.totara-dialog #fitem_id_dialogsearchsubmitbutton .felement {
    width: auto;
    float: left;
}

.totara-dialog #fitem_id_query label,
.totara-dialog #fitem_id_frameworkid label,
.totara-dialog #fitem_id_dialogsearchsubmitbutton label {
    display: inline;
}

.totara-dialog #fitem_id_query .fitemtitle,
.totara-dialog #fitem_id_frameworkid .fitemtitle,
.totara-dialog #fitem_id_dialogsearchsubmitbutton .fitemtitle {
    float: left;
    width: auto;
}

.dir-rtl .totara-dialog #fitem_id_query,
.dir-rtl .totara-dialog #fitem_id_frameworkid,
.dir-rtl .totara-dialog #fitem_id_dialogsearchsubmitbutton,
.dir-rtl .totara-dialog #fitem_id_query .felement,
.dir-rtl .totara-dialog #fitem_id_frameworkid .felement,
.dir-rtl .totara-dialog #fitem_id_dialogsearchsubmitbutton .felement,
.dir-rtl .totara-dialog #fitem_id_query .fitemtitle,
.dir-rtl .totara-dialog #fitem_id_frameworkid .fitemtitle,
.dir-rtl .totara-dialog #fitem_id_dialogsearchsubmitbutton .fitemtitle {
    float: right;
    clear: left;
}

.dir-rtl .totara-dialog .selected {
    float: right;
    margin-left: 0;
    border-left: none;
    border-right: 1px solid #ccc;
}

.totara-dialog .selected div {
    clear: both;
    padding: 0 3px;
}

.totara-dialog select {
    max-width: 100%;
}

.dir-rtl .totara-dialog .select {
    float: right;
}

.dir-rtl .totara-dialog .selected .addbutton,
.dir-rtl .totara-dialog .selected .deletebutton {
    float: left;
}

.totara-dialog #fitem_id_query .fitemtitle {
    padding-top: 5px;
}

.totara-dialog #id_dialogsearchsubmitbutton {
    margin: 0;
}

.dir-rtl .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: left;
}

.dir-rtl .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button {
    float: right;
}

#dialog-tabs {
    margin-bottom: 0;
    padding-bottom: 0;
}

.totara_item_depth1 {
    padding-left: 20px;
}

.totara_item_depth2 {
    padding-left: 40px;
}

.totara_item_depth3 {
    padding-left: 60px;
}

.totara_item_depth4 {
    padding-left: 80px;
}

.totara_item_depth5 {
    padding-left: 100px;
}

.totara_item_depth6 {
    padding-left: 120px;
}

.totara_item_depth7 {
    padding-left: 140px;
}

.totara_item_depth8 {
    padding-left: 160px;
}

.dir-rtl .totara_item_depth1 {
    padding-right: 20px;
}

.dir-rtl .totara_item_depth2 {
    padding-right: 40px;
}

.dir-rtl .totara_item_depth3 {
    padding-right: 60px;
}

.dir-rtl .totara_item_depth4 {
    padding-right: 80px;
}

.dir-rtl .totara_item_depth5 {
    padding-right: 100px;
}

.dir-rtl .totara_item_depth6 {
    padding-right: 120px;
}

.dir-rtl .totara_item_depth7 {
    padding-right: 140px;
}

.dir-rtl .totara_item_depth8 {
    padding-right: 160px;
}
