{{!
   This file is part of Totara Learn

   Copyright (C) 2018 onwards Totara Learning

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program. If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_course_navigation/content

    This template generates a course navigation node

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
      "items": [
        {
          "licontent": "",
          "liattrs": [
            {
              "key": "class",
              "value": "type_setting depth_2 item_with_icon"
            }
          ],
          "pcontent": "Text",
          "pattrs": [
            {
              "key": "role",
              "value": "treeitem"
            },
            {
              "key": "class",
              "value": "tree_item hasicon"
            }
          ]
        }
      ],
      "ulattrs": [
        {
          "key": "aria-hidden",
          "value": "true"
        }
      ]
    }
}}
<ul {{#ulattrs}} {{key}}="{{value}}"{{/ulattrs}}>
    {{#items}}
        <li {{#liattrs}} {{key}}="{{value}}"{{/liattrs}}>
            <p {{#pattrs}} {{key}}="{{value}}"{{/pattrs}}>{{{pcontent}}}</p>
            {{{licontent}}}
        </li>
    {{/items}}
</ul>
