body > header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
}

body > header .container {
    position: relative;
}

body > header .header-top {
    color: #333;
}

body > header .header-top a.navbar-brand {
    height: inherit;
    padding: 0;
    margin: 0;
    max-width: 40%;
}

body > header .header-top a.navbar-brand img {
    max-height: 74px;
    max-width: 100%;
}

body > header .header-top .action-totara-alerts,
body > header .header-top .action-totara-alerts-sm {
    display: inline-block;
    vertical-align: top;
}

body > header .header-top .action-totara-alerts-sm { 
    display: none;
}

body > header .header-top .action-totara-alerts li .text {
    color: black !important;
}

@media(max-width: 768px) {
    body > header .header-top .action-totara-alerts {
        display: none;
    }

    body > header .header-top .action-totara-alerts-sm {
        display: inline-block;
    }

    body > header .usermenu .usertext {
        display: none;
    }

    body > header .navbar-brand {
        float: none !important;
    }
}

body > header .header-top .usermenu {
    display: inline-block;
    position: relative;
    float: none;
}

.navbar-site {
    box-shadow: none;
}

body > header .container-fluid .container-fluid {
    padding: 0;
}

body > header #totara-navbar {
    padding: 0;
}


body > header #totaramenu-legacy ul li,
body > header #totaramenu ul li {
    background-color: white;
    text-transform: uppercase;
    position: relative;
}

body > header #totaramenu-legacy ul ul,
body > header #totaramenu ul ul {
    border: none;
    min-width: 150px;
    left: calc(50% - 75px);
}

body > header #totaramenu-legacy ul ul li:first-child,
body > header #totaramenu ul ul li:first-child {
    margin-top: 3px;
}

body > header #totaramenu-legacy ul ul li a,
body > header #totaramenu ul ul li a {
    font-weight: normal;
    margin: 0;
    font-size: 12px;
}

body > header #totaramenu-legacy ul ul li:last-child a,
body > header #totaramenu ul ul li:last-child a {
    border: none;
}

body > header #totaramenu-legacy ul li a,
body > header #totaramenu-legacy ul ul li,
body > header #totaramenu ul li a,
body > header #totaramenu ul ul li {
    font-weight: normal;
}

body > header #totaramenu-legacy ul li.selected > a,
body > header #totaramenu ul li.selected > a {
    font-weight: bold;
}

body > header #totaramenu-legacy ul li,
body > header #totaramenu ul li {
    margin: 0;
}

body > header #totaramenu-legacy ul li a,
body > header #totaramenu ul li a {
    border: none;
    padding: 10px 15px;
}

body > header ul ul .triangle-left,
body > header ul ul .triangle-right {
    position: absolute;
    content: " ";
    height: 15px;
    width: 15px;
    top: 5px;
    border-top-width: 15px;
    border-top-style: solid;
    border-top-color: transparent !important;
}

body > header ul ul .triangle-left {
    right: 50%;
    border-right-width: 15px;
    border-right-style: solid;
}

body > header ul ul .triangle-right {
    left: 50%;
    border-left-width: 15px;
    border-left-style: solid;
}

body > header #totaramenu ul ul .triangle-right + li {
    margin-top: 20px;
}

@media (max-width: 768px) {
    body > header #totaramenu-legacy ul,
    body > header #totaramenu ul {
        margin: 0;
    }

    body > header #totaramenu-legacy ul li,
    body > header #totaramenu ul li {
        float: none;
    }
    body > header #totaramenu-legacy ul li a, 
    body > header #totaramenu ul li a {
        padding: 5px 15px;
    }

    body > header #totaramenu-legacy ul ul li:first-child,
    body > header #totaramenu ul ul li:first-child,
    body > header #totaramenu ul ul .triangle-right + li  {
        margin-top: 0px;
    }

    body > header #totaramenu-legacy ul ul li a,
    body > header #totaramenu ul ul li a {
        border-bottom: none;
        padding-left: 0;
        margin-left: 0;
        padding-right: 0;
        margin-right: 0;
    }
    
    body > header ul ul .triangle-left,
    body > header ul ul .triangle-right {
        display: none;  
    }
}

#totaramenu-legacy-wrap {
    height: auto;
}

body > header .moodle-actionmenu ul.menubar li,
body > header .menu-btn-wrapper button.navbar-toggle,
body > header .action-totara-alerts,
body > header .action-totara-alerts-sm {
    height: 74px;
}

body > header .action-totara-alerts-sm {
    display: none;
    height: 50px;
}

body > header .usermenu .login {
    height: 74px;
    display: inline-block;
}

body > header .action-totara-alerts:last-child,
body > header .moodle-actionmenu ul.menubar li,
body > header .usermenu .login {
    border-right-width: 1px;
    border-right-style: solid;
}

body.dir-ltr > header .action-totara-alerts,
body.dir-ltr > header .action-totara-alerts-sm,
body > header .moodle-actionmenu ul.menubar li,
body.dir-ltr > header .usermenu .login {
    border-left-width: 1px;
    border-left-style: solid;
}

body.dir-rtl > header .action-totara-alerts,
body.dir-rtl > header .action-totara-alerts-sm,
body > header .moodle-actionmenu ul.menubar li,
body.dir-rtl > header .usermenu .login {
    border-right-width: 1px;
    border-right-style: solid;
}

body > header .moodle-actionmenu ul.menubar li a,
body > header .moodle-actionmenu ul.menubar li a:hover {
    color: inherit;
}

body > header .usermenu .moodle-actionmenu .toggle-display,
body > header .usermenu .login {
    line-height: 74px;
    font-weight: lighter;
    color: inherit;
}

body > header .usermenu .moodle-actionmenu .toggle-display:hover {
    color: inherit;
}

.jsenabled .usermenu .moodle-actionmenu.show {
    background: transparent;
}

body > header .usermenu .moodle-actionmenu.show .menu.align-tr-br,
.jsenabled .usermenu .moodle-actionmenu.show .menu.align-tr-br {
    margin-top: 0;
}

body > header .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret {
    margin-top: -15px;
}

body > header .usermenu .moodle-actionmenu.show .menu:before,
.jsenabled .usermenu .moodle-actionmenu.show .menu:before {
    content: '';
    border:none;
}

body > header .usermenu .moodle-actionmenu.show .menu:after,
.jsenabled .usermenu .moodle-actionmenu.show .menu:after {
    display: none;
}

body > header .usermenu .moodle-actionmenu > .menu .filler,
.jsenabled .usermenu .moodle-actionmenu > .menu .filler {
    background-color: transparent;
    padding: 2px 1px;
    display: block;
    height: 0;
}

.jsenabled .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret {
    margin-top: -15px;
}

body > header .action-totara-alerts button.btn.btn-default,
body > header .action-totara-alerts button.btn.btn-default:hover,
body > header .action-totara-alerts button.btnbtn-default:active,
body > header .action-totara-alerts button.btnbtn-default:focus,
body > header .action-totara-alerts-sm a.btn,
body > header .action-totara-alerts-sm a.btn:hover,
body > header .action-totara-alerts-sm a.btn:active,
body > header .action-totara-alerts-sm a.btn:focus,
body > header .btn-group.open .btn.dropdown-toggle {
    background-color: transparent;
    padding: 0 20px;
    line-height: 74px;
    font-size: 25px;
}

body > header .action-totara-alerts-sm a.btn,
body > header .action-totara-alerts-sm a.btn:hover,
body > header .action-totara-alerts-sm a.btn:active,
body > header .action-totara-alerts-sm a.btn:focus {
    font-size: 20px;
    line-height: 50px;
    padding: 0 10px;
}

body > header .action-totara-alerts > button,
body > header .action-totara-alerts > button:hover,
body > header .action-totara-alerts > button:active,
body > header .action-totara-alerts > button:focus,
body > header .action-totara-alerts-sm > a.btn,
body > header .action-totara-alerts-sm > a.btn:hover,
body > header .action-totara-alerts-sm > a.btn:active,
body > header .action-totara-alerts-sm > a.btn:focus {
    content: "\f0a2";
    font-family: "FontAwesome";
}

body > header .action-totara-alerts .alerts-list {
    border: none;
    border-radius: 0;
    padding: 0;
    min-width: 300px;
    left: -117px;
}

body > header .action-totara-alerts .alerts-list form.form-inline {
    padding: 15px 5px 10px 5px;
    text-align: center;
}

body.dir-rtl > header .action-totara-alerts .alerts-list {
    left: auto;
    right: -117px;
}

body > header .action-totara-alerts .alerts-list ul {
    margin: 0;
    list-style: none;
    overflow: hidden;
}

body > header .action-totara-alerts .alerts-list ul li {

}

body > header .action-totara-alerts .alerts-list ul li .userpicture {
    margin: 0;
}

body > header .action-totara-alerts .alerts-list ul li {
    white-space: initial;
    overflow: hidden;
    display: block;
}

body > header .action-totara-alerts .alerts-list ul li div.icon,
body > header .action-totara-alerts .alerts-list ul li div.text,
body > header .action-totara-alerts .alerts-list ul li div.actions {
    margin: 0;
    padding: 10px 5px;
}

body > header .action-totara-alerts .alerts-list ul li div.text {
    padding-top: 10px;
}

body > header .action-totara-alerts .alerts-list ul li div.icon {
    width: 50px;
    font-size: 36px;
    text-align: center;
}

body > header .action-totara-alerts .alerts-list ul li div.text {
    width: 200px;
    white-space: normal;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
}

body > header .action-totara-alerts .alerts-list ul li div.actions {
    width: 50px;
    font-size: 30px;
    text-align: center;
}

body > header .action-totara-alerts .alerts-list ul li div.actions form button[type="submit"] {
    background-color: transparent;
    border: none;
    color: red;
    padding: 0;
    margin: 0;
    display: inline-block;
    font-size: 16px;
}

body > header .action-totara-alerts .alerts-list ul li.badge {
    display: block;
    float: left;
    padding: 20px 5px 0 5px;
    margin: 0;
    width: 50%;
    height: auto;
    text-align: center;
    background: transparent;
}

body > header .action-totara-alerts .alerts-list ul li.badge a {
    text-decoration: none;
    line-height: 18px;
}

body > header .action-totara-alerts .alerts-list .total_link {
    margin: 10px;
    display: block;
    cursor: pointer;
}

body > header .action-totara-alerts .alerts-list .header-list-top {
    text-transform: uppercase;
    padding: 10px;
    color: white;
}

body > header .btn-group+.btn-group {
    margin: 0;
}

body > header .btn-group.open .dropdown-toggle {
    box-shadow: none;
}


body > header .action-totara-alerts .alerts-list .header-list-top .triangle-left,
body > header .action-totara-alerts .alerts-list .header-list-top .triangle-right {
    position: absolute;
    content: " ";
    height: 15px;
    width: 15px;
    top: -15px;
    border-top-width: 15px;
    border-top-style: solid;
    border-top-color: transparent !important;
}

body > header .action-totara-alerts .alerts-list .header-list-top .triangle-left {
    right: 50%;
    border-right-width: 15px;
    border-right-style: solid;
}

body > header .action-totara-alerts .alerts-list .header-list-top .triangle-right {
    left: 50%;
    border-left-width: 15px;
    border-left-style: solid;
}

body > header .actions-wrapper {
    white-space: nowrap;
}

body > header .action-totara-alerts span.items-count,
body > header .action-totara-alerts-sm span.items-count {
    font-size: 12px;
    position: absolute;
    top: 20px;
    right: 15px;
    height: 16px;
    width: 16px;
    display: block;
    overflow: hidden;
    line-height: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    color: #fff;
}

body > header .action-totara-alerts-sm span.items-count {
    font-size: 10px;
}

body > header .action-totara-alerts-sm span.items-count {
    right: 5px;
}

body.jsenabled > header .usermenu .moodle-actionmenu.show .menu {
    border: none;
    border-radius: 0;
    padding: 0;
}

body.jsenabled > header .usermenu .moodle-actionmenu>.menu .filler {
    border-bottom: none;
    border-bottom: 1px solid white;
    margin: 0;
    padding: 9px 1px;
}

body.jsenabled > header .usermenu .moodle-actionmenu.show .menu {
    border-radius: 0;
}

body.jsenabled > header .usermenu .moodle-actionmenu.show .menu li a:focus {
    border: none;
    outline: 0;
}

body.jsenabled > header .usermenu .moodle-actionmenu.show .menu li a {
    background-image: none;
    background-color: transparent;
    margin: 0;
    display: block;
    padding: 5px;
    height: auto;
    color: white;
    font-weight: lighter;
}

body.jsenabled > header .usermenu .moodle-actionmenu.show .menu a:hover {
    background-image: none;
    background-color: transparent;
    color: white;
    font-weight: lighter;
}

body > header .moodle-actionmenu ul.menubar li a {
    padding-left: 8px;
    padding-right: 8px;
}

@media(max-width: 768px) {
    body > header .moodle-actionmenu ul.menubar li a {
        padding: 0;
    }

    body > header .moodle-actionmenu ul.menubar li,
    body > header .usermenu .moodle-actionmenu .toggle-display {
        height: 50px;
        line-height: 50px;
    }

    .usermenu .moodle-actionmenu ul.menubar li {
        border-right: 0;
    }
}

.usermenu .moodle-actionmenu .toggle-display .userbutton .avatars {
    display: inline-block;
    height: 36px;
    width: 36px;
    vertical-align: middle;
    margin-right: 6px;
    margin-left: 6px;
}

.usermenu .moodle-actionmenu .toggle-display .userbutton {
    line-height: 40px;
}

.usermenu .moodle-actionmenu .toggle-display .userbutton .avatars .avatar, 
.usermenu .moodle-actionmenu .toggle-display .userbutton .avatars img {
    display: block;
}

.jsenabled .usermenu .moodle-actionmenu .toggle-display .caret {
    top: 9px;
    position: relative;
}

@media (max-width: 979px) {
    .navbar .container {
        width: auto;
        padding: 0 15px;
    }
}

body > header .navbar-toggle,
body > header .navbar-toggle:hover,
body > header .navbar-toggle:focus,
body > header .navbar-toggle:active,
body > header .navbar-toggle:active:hover {
    margin: 0 10px;
    padding: 9px 10px;
    border: none;
    float: left;
}

body.dir-rtl > header .navbar-toggle,
body.dir-rtl > header .navbar-toggle:hover,
body.dir-rtl > header .navbar-toggle:focus,
body.dir-rtl > header .navbar-toggle:active,
body.dir-rtl > header .navbar-toggle:active:hover {
    float: right;
}

.menu-btn-wrapper button.navbar-toggle .icon-bar,
.menu-btn-wrapper button.navbar-toggle .icon-bar:before,
.menu-btn-wrapper button.navbar-toggle .icon-bar:after {
    cursor: pointer;
    border-radius: 1px;
    width: 22px;
    height: 2px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
}

.menu-btn-wrapper button.navbar-toggle .icon-bar:before {
    top: -6px;
}

.menu-btn-wrapper button.navbar-toggle .icon-bar:after {
    bottom: -6px;
}

.menu-btn-wrapper button.navbar-toggle:not(.collapsed) .icon-bar {
    background-color: transparent !important;
}

.menu-btn-wrapper button.navbar-toggle:not(.collapsed) .icon-bar:before,
.menu-btn-wrapper button.navbar-toggle:not(.collapsed) .icon-bar:after {
    top:0;
}

.menu-btn-wrapper button.navbar-toggle:not(.collapsed) .icon-bar:before {
    transform: rotate(45deg);
}

.menu-btn-wrapper button.navbar-toggle:not(.collapsed) .icon-bar:after {
    transform: rotate(-45deg);
}

body>header .navbar-toggle,
body>header .navbar-toggle:hover,
body>header .navbar-toggle:active,
body>header .navbar-toggle:active:hover {
    padding: 0;
    background: transparent;
}

body > header[data-color="dark"] .header-top {
    background-color: #3f3f47;
}

body > header[data-color="dark"] .navbar-site,
body > header[data-color="dark"] .usermenu .moodle-actionmenu.show .menu,
body > header[data-color="dark"] .usermenu .moodle-actionmenu.show .menu,
body > header[data-color="dark"] #totaramenu-legacy ul li a,
body > header[data-color="dark"] #totaramenu-legacy ul ul li,
body > header[data-color="dark"] #totaramenu-legacy ul li.selected a,
body > header[data-color="dark"] #totaramenu-legacy ul ul li a,
body > header[data-color="dark"] #totaramenu ul li,
body > header[data-color="dark"] #totaramenu ul li a,
body > header[data-color="dark"] #totaramenu ul ul li,
body > header[data-color="dark"] #totaramenu ul li.selected a,
body > header[data-color="dark"] #totaramenu ul ul li a {
    background-color: #2d2d37;
}

body > header[data-color="dark"] #totaramenu-legacy ul li a,
body > header[data-color="dark"] #totaramenu-legacy ul ul li,
body > header[data-color="dark"] #totaramenu-legacy ul li.selected a,
body > header[data-color="dark"] #totaramenu-legacy ul ul li a,
body > header[data-color="dark"] #totaramenu ul li a,
body > header[data-color="dark"] #totaramenu ul ul li,
body > header[data-color="dark"] #totaramenu ul li.selected a,
body > header[data-color="dark"] #totaramenu ul ul li a,
body > header[data-color="bright"] .totara-menu-arrow {
    color: white;
}

body > header[data-color="dark"] .navbar-default button.navbar-toggle,
body > header[data-color="dark"] .navbar-default button.navbar-toggle:hover {
    background-color: #2d2d37 !important;
}

body > header .menu-btn-wrapper button.navbar-toggle,
body > header .menu-btn-wrapper button.navbar-toggle:hover {
    background-color: transparent;
    outline: none;
    height: 50px;
}

body > header[data-color="dark"] .action-totara-alerts button.btn.btn-default,
body > header[data-color="dark"] .action-totara-alerts button.btn.btn-default:hover,
body > header[data-color="dark"] .action-totara-alerts button.btn.btn-default:active,
body > header[data-color="dark"] .action-totara-alerts button.btn.btn-default:focus,
body > header[data-color="dark"] .action-totara-alerts-sm a.btn,
body > header[data-color="dark"] .action-totara-alerts-sm a.btn:hover,
body > header[data-color="dark"] .action-totara-alerts-sm a.btn:active,
body > header[data-color="dark"] .action-totara-alerts-sm a.btn:focus,
body > header[data-color="dark"] .btn-group.open .btn.dropdown-toggle,
body > header[data-color="dark"] .moodle-actionmenu ul.menubar li,
body > header[data-color="dark"] .usermenu .login,
body > header[data-color="dark"] .action-totara-alerts,
body > header[data-color="dark"] .action-totara-alerts-sm {
    color: rgba(255,255,255, 0.7);
}

body > header[data-color="dark"] .action-totara-alerts button.btn.btn-default:hover,
body > header[data-color="dark"] .moodle-actionmenu ul.menubar li:hover {
    color: rgba(255,255,255, 0.85); 
}

body > header[data-color="dark"] #totaramenu-legacy ul li.selected li a,
body > header[data-color="dark"] #totaramenu ul li.selected li a {
    color: white;
}

body > header[data-color="dark"] .moodle-actionmenu ul.menubar li,
body > header[data-color="dark"] .usermenu .login,
body > header[data-color="dark"] .action-totara-alerts,
body > header[data-color="dark"] .action-totara-alerts-sm {
    border-right-color: #555;
    border-left-color: #555;
} 

body > header[data-color="dark"] ul ul .triangle-left,
body > header[data-color="dark"] ul ul .triangle-right {
    border-color: #2d2d37;
}

body > header[data-color="dark"] .menu-btn-wrapper button.navbar-toggle .icon-bar,
body > header[data-color="dark"] .menu-btn-wrapper button.navbar-toggle .icon-bar:before,
body > header[data-color="dark"] .menu-btn-wrapper button.navbar-toggle .icon-bar:after {
    background-color: rgba(255,255,255,.7);
}

body > header[data-color="bright"] .header-top {
    background-color: white;
}

body > header[data-color="bright"] .navbar-site,
body > header[data-color="bright"] .usermenu .moodle-actionmenu.show .menu,
body > header[data-color="bright"] .usermenu .moodle-actionmenu.show .menu,
body > header[data-color="bright"] #totaramenu-legacy ul li a,
body > header[data-color="bright"] #totaramenu-legacy ul ul li,
body > header[data-color="bright"] #totaramenu-legacy ul li.selected a,
body > header[data-color="bright"] #totaramenu-legacy ul ul li a,
body > header[data-color="bright"] #totaramenu ul li,
body > header[data-color="bright"] #totaramenu ul li a,
body > header[data-color="bright"] #totaramenu ul ul li,
body > header[data-color="bright"] #totaramenu ul ul li a {
    background-color: rgba(244, 244, 244, 1);
}

body > header[data-color="bright"] #totaramenu-legacy ul li a,
body > header[data-color="bright"] #totaramenu-legacy ul ul li,
body > header[data-color="bright"] #totaramenu-legacy ul li.selected a,
body > header[data-color="bright"] #totaramenu-legacy ul ul li a,
body > header[data-color="bright"] #totaramenu-legacy ul li.selected li a,
body > header[data-color="bright"] #totaramenu ul li a,
body > header[data-color="bright"] #totaramenu ul ul li,
body > header[data-color="bright"] #totaramenu ul li.selected a,
body > header[data-color="bright"] #totaramenu ul ul li a,
body > header[data-color="bright"] #totaramenu ul li.selected li a,
body > header[data-color="bright"] .totara-menu-arrow,
body.jsenabled > header[data-color="bright"] .usermenu .moodle-actionmenu.show .menu li a {
    color: black;
}

body.jsenabled > header[data-color="bright"] .usermenu .moodle-actionmenu.show .menu li a:hover,
body > header[data-color="bright"] #totaramenu ul li a:hover {
    color: white !important;
}

body > header[data-color="bright"] .navbar-default button.navbar-toggle,
body > header[data-color="bright"] .navbar-default button.navbar-toggle:hover {
    background-color: rgba(244, 244, 244, 1) !important;
}

body > header[data-color="bright"] .menu-btn-wrapper button.navbar-toggle .icon-bar,
body > header[data-color="bright"] .menu-btn-wrapper button.navbar-toggle .icon-bar:before,
body > header[data-color="bright"] .menu-btn-wrapper button.navbar-toggle .icon-bar:after {
    background-color: rgba(0,0,0, 0.3);
}

body > header[data-color="bright"] .action-totara-alerts button.btn.btn-default,
body > header[data-color="bright"] .action-totara-alerts button.btn.btn-default:hover,
body > header[data-color="bright"] .action-totara-alerts button.btnbtn-default:active,
body > header[data-color="bright"] .action-totara-alerts button.btnbtn-default:focus,
body > header[data-color="bright"] .action-totara-alerts-sm a.btn,
body > header[data-color="bright"] .action-totara-alerts-sm a.btn:hover,
body > header[data-color="bright"] .action-totara-alerts-sm a.btn:active,
body > header[data-color="bright"] .action-totara-alerts-sm a.btn:focus,
body > header[data-color="bright"] .btn-group.open .btn.dropdown-toggle,
body > header[data-color="bright"] .action-totara-alerts,
body > header[data-color="bright"] .action-totara-alerts-sm {
    color: rgba(0,0,0, 0.3);
}

body > header[data-color="bright"] .action-totara-alerts button.btn.btn-default:hover,
body > header[data-color="bright"] .action-totara-alerts-sm a.btn:hover {
    color: rgba(0,0,0, 0.4); 
}

body > header[data-color="bright"] .moodle-actionmenu ul.menubar li,
body > header[data-color="bright"] .usermenu .login,
body > header[data-color="bright"] .action-totara-alerts,
body > header[data-color="bright"] .action-totara-alerts-sm {
    border-right-color: rgba(0,0,0, 0.3);
    border-left-color: rgba(0,0,0, 0.3);
} 

body > header[data-color="bright"] .moodle-actionmenu ul.menubar li,
body > header[data-color="bright"] .usermenu .login,
body > header[data-color="bright"] .moodle-actionmenu ul.menubar li:hover {
    color: black;
}

body > header[data-color="bright"] ul ul .triangle-left,
body > header[data-color="bright"] ul ul .triangle-right {
    border-color: rgba(244, 244, 244, 1);
}

.totara-menu-arrow {
    display: none;
}

.totara-menu-nav-item .totara-menu-arrow::before {
    content: '\f0da';
    font-family: FontAwesome;
    font-size: 16px;
}

[dir="rtl"] .totara-menu-nav-item .totara-menu-arrow::before {
    content: '\f0d9';
    font-family: FontAwesome;
    font-size: 16px;
}

.totara-menu-nav-item.mshown .totara-menu-arrow::before {
    content: '\f0d7';
    font-family: FontAwesome;
    font-size: 16px;
}

/*hack: display mobile menu on Ipad (768px)*/
@media (max-width: 769px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

    .totara-menu-nav-list .totara-menu-nav-list {
        display: block;
    }

    .container-fluid>.navbar-collapse {
        margin-left: -15px;
        margin-right: -15px;
    }

    .totara-menu-nav-list .totara-menu-nav-list .totara-menu-nav-item-link {
        text-indent: 30px;
    }

    /*collapsibleMobileMenu*/
    #totaramenu .totara-menu-nav-item.haschildren>a,
    .totara-menu-arrow {
        display: inline-block;
    }

    li.haschildren {
        position: relative;
    }

    li.haschildren .totara-menu-arrow {
        position: absolute;
        width: 50%;
        padding: 5px 15px 7px 0;
    }
}

@media(max-width: 320px) {

    body > header .navbar-toggle,
    body >header .navbar-toggle:hover,
    body > header .navbar-toggle:focus,
    body > header .navbar-toggle:active,
    body > header .navbar-toggle:active:hover {
        margin: 0;
        padding-right: 0;
        padding-left: 0;
        margin-left: 3px;
    }
}