@media only screen and (max-width:767px) {
body.dir-rtl>header .action-totara-alerts-sm{
	    padding: 0;
}
.loginbox.twocolumns .loginpanel {
    width: 100%;
	}
footer .social-links {
    padding-top: 11px;
    text-align: center;
	}
.loginbox .loginpanel .loginsub .desc {
    line-height: 17px;
	margin-bottom: 1em;
	}
.loginbox .loginpanel .subcontent, .loginbox .signuppanel .subcontent {
    padding: 10px 20px;	
	}
	
#page-footer {
    padding: 0px 0 0 0;
}
.loginbox .loginpanel h2 {
    font-size: 20pt;
	}
#Info-carousel {
   width: 100% !important;
	}
.carousel__item{
	width: 100% !important;
	}
.caroufredsel_wrapper{
	width: 100% !important;
	}
.block div.header h2{
	text-align:center;
	}
body>header .menu-btn-wrapper button.navbar-toggle, body>header .menu-btn-wrapper button.navbar-toggle:hover {
    height:50px;
    width:23px;
    border:0;
    box-shadow:none;
	}
.editing_on .region {
    padding:5px;
    box-sizing:border-box;
    padding-left:0;
	padding-right:0;
	}
.rb-record-count {
    display:inline-block;
    padding:10px;
    padding-bottom:0;
    text-align:center;
    width:100%;
	}
#dp-plan-content h2, .dir-ltr .rb-showhide{
	text-align:center;
	}
footer .social-links {
    padding-top: 11px;
    text-align: center;
    padding-top: 0;
    padding-bottom: 5px;
}
 .totara-table-container, .totaratable, .pc-table-wrapper, .dataTablePolicies, .responsive-table {
	max-width:700px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
	position:relative;
	}
/*.totara-table-container, .totaratable, .pc-table-wrapper, .dataTablePolicies {
		width:700px;
	}*/
.headingBarPanel { 
    flex-direction: column;
	text-align:center;
	}
#page-totara-reportbuilder-report h2{
	text-align:center;
	}
#page-header #page-navbar .breadcrumb-button .singlebutton {
    margin-top: 0;
    width: 100% !important;
    text-align:center !important;
}
.breadcrumb-button { 
    width: 100%;
}
#my-teammembers-content h2{
	text-align: center;
	}
#scheduledreports_section_inner .panel {
    text-align: center;
}	
/*	 .totara-table-container table{
	border-collapse: collapse; 
    overflow-x: auto;
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; 
	 }*/
	 
#dp-plan-content .singlebutton{
	display:block;
	text-align:center;	 
	}
#my-teammembers-content h2 span.rb-record-count {
    font-size: 16px;
    color: #000;
	}
.header-top a.btn {
    display: flex !important;
    height: 50px !important;
	}
.path-calendar .maincalendar .calendartable li {
    padding-left: 0 !important; 
}			
.totaraNav_prim--side .popover-region .flex-icon {
    font-size: 22px;	
}
.actions-wrapper img {
    width: 22px;
    height: auto;
    margin-top: 5px;
	}
.searching .iconSearch a img {
    padding-top: 0px;
	}
.tw-catalogDetails__placement {
    top: 170px !important;
    max-height: 400px !important;  
    overflow: scroll; 
}
.descContent {
    padding: 10px 0 0 0;
    height:150px;
    overflow: auto;
	padding-top: 8px;
}
.tw-grid__item_active .tw-catalogDetails__placement {
    height: 100vh;
    padding: 10px 17px;
}
.lftContForPopup .headingBarPopup {
    font-family: 'Open Sans',sans-serif;
    font-size: 22px;
	}
.container {
    margin-right:15px !important;
    margin-left: 15px !important;
}
.singlebutton form{
    text-align:center;
	}	
.dir-rtl h2 {
    font-size: 19pt;
    text-align: center;
	}
.assigntochangelog {
    padding-left: 0;
	}
.assigntocstatus {
    float: left;
    float: none;
}	
.assigntocstatus #fitem_id_assignto {
    width: 100%;
    float: right;
    text-align: center;
    float: none;
}
.assigntocstatus .fselect {
    width: 134px!important;
    width: 100% !important;
    text-align: center;
    float: none;
}	
.popover-region-content .flex-icon{
	background:none !important;
	}
h2, .singlebutton, .form-buttons {
 	text-align:center;
	}
.tabtree .nav li a {
    background-color: #f8f8f8;
    padding: 7px 6px;
    font-size: 11px;
	}
#id_exportallframeworks fieldset .felement, .path-admin .buttons, .form-buttons{
	text-align:center;
	}
.td_description h5{
	text-align:center;
	font-weight:bold;
	}
/*.h5p-iframe-wrapper iframe{
	height:890px !important;
	overflow:auto !important; 
}
 .iphoneheight iframe{
	height:890px !important;
	overflow:auto !important; 
} 
.description_of_policy .td_description .td_description_h5p iframe{
	height:890px !important;
	overflow:auto !important; 
	-webkit-overflow-scrolling: touch !important;
   overflow: scroll !important;
}
.accordion_body p {
    padding: 8px 0 !important;
	position:relative !important;
	}*/
/* .h5p-iframe-wrapper iframe.h5p-iframe, .iphoneheight iframe{
	height:860px !important;
	overflow-y:auto !important; 
	}*/ 
   
 
 
.headingTopHeader h2 {
    font-size: 22px;
    text-align: center;
    display: block;
    float: none;
	}
.h5p-question-buttons.h5p-question-visible{
	text-align:center !important;
	}
.tw-catalogItemNarrow__title {
    position: absolute;
    top: 7px;
    left: 6px;
	}
.tw-catalogItemNarrow__content {
    position: static;
	}
.progressPanel {
    position: absolute;
    top: 60%;
    width: 94%;
    left: 0;
    right: 0;
    margin: 0 auto;
	}
.tw-catalogItemNarrow__content .course_title{
	text-align:center;
	}
.tw-catalogItemWide__content_right_body	 .progressPanel{
    position: static;
	}
.tw-catalogItemWide__content_right {
    padding: 2px 8px;
    background: #fff;
	}
.search-inline .form-control{
	    left: 0;
	}
.search-inline .form-control{
	    height: 47px;
		left: 0;
}
.search-inline{
	    height: 55px;
	}
.search-inline button[type="submit"] {
    top: 4px;
	}
.search-inline .search-close {
    top: 3px;
	}
.tableResponsiveUserAgree{
	max-width: 700px !important;
    width: 100% !important;
    overflow: auto !important;
	}
 .form-autocomplete-selection {
	 text-align:center;
 	}
#acceptancetable th{
	position:relative;
}
.toolPolicyFilterTable{
	text-align:center
	}
.resettable {
    text-align: center;
    display: block;
}
.toolPolicyFilterTable input[type="text"]{
	border-radius:9px;
    border:1px solid #777;
    border-top-left-radius:0;
    border-bottom-right-radius:0;
    padding:3px 13px;
    height:30px;
    margin-left:14px !important;
	}
.form-autocomplete-downarrow { 
    font-size:9px;
    left:-20px;
	}
.form-autocomplete-suggestions {
    min-width: 290px;  
    margin-left: 28px;
}
.totara_core__QuickAccess .totara_core__QuickAccess_menu-header_title{
	padding: 10px;
}
.menu-btn-wrapper button:focus{
	background: transparent !important;
	}
.block_current_learning .content .block_current_learning-row-item__status {
    min-width: auto;
	}
.policyRowOne button.btnwidth {
    max-width: 72px;
    width: 100%;
    font-size: 12px !important; 
	}	
.rhtButtonPanel {
    padding-top: 18px;
    padding-bottom: 10px;
	}
.mform .fitem_fcheckbox, .mform .fitem_fadvcheckbox {
    position: relative;
    min-height: 120px;
	}
.mform .fitem_fcheckbox .felement, .mform .fitem_fadvcheckbox .felement {
    position: relative;
}
 body>header .action-totara-alerts-sm a.btn{
    padding: 0 6px; 
}
.felement.fadvcheckbox span {
    display: flex;
	}	
 
}
	

 
@media only screen and (max-width:500px) {
	.tw-catalogItemWide__content_right .borderCircleIcon {
    height:30px;
    width:30px;
	padding-top:3px;
	}
.tw-catalogItemWide__content_right .tw-catalogItemWide__title {
    height: 2.5em;
	}
.tw-catalogItemWide__title_featured {
    width: 90px;
    height: 23px;
    font-size: 12px; 
    line-height: 21px;
	}

	/*.totara-table-container, .totaratable, .pc-table-wrapper, .dataTablePolicies {
		width:480px;
	}*/
	 

    }

@media only screen and (max-width:375px) {

	.totara-table-container, .totaratable {
		width:371px;
	}
	.totaratable, .pc-table-wrapper, .dataTablePolicies {
		width:365px;
	}

    }