<div class="progressbar-wrapper">
    <span class="lz-report-progressbar-green"></span>
    <span aria-hidden="true" data-flex-icon="info-circle" class="flex-icon ft-fw ft fa-info-circle ft-state-info"></span>
</div>