<div class="progressbar-wrapper" id="{{pid}}"  onclick="getToggle(this.id)">
    <span class="lz-report-progressbar-green"></span>
    <span id="span_{{pid}}" aria-hidden="true" data-flex-icon="info-circle" class="flex-icon ft-fw ft fa-info-circle ft-state-info fa-plus"></span>
</div>

<script type="text/javascript">
function getToggle(id){
	
	if($("#span_" + id).hasClass('fa-plus') == true) {
		$("#span_" + id).removeClass('fa-plus');
		$("#span_" + id).addClass('fa-minus');
	} else {
		$("#span_" + id).removeClass('fa-minus');
		$("#span_" + id).addClass('fa-plus');
	}
}
</script>