<div class="progressbar-wrapper">
    <span class="lz-report-progressbar-gray">
        <span {{#progress}}style="width:{{progress}}%;"{{/progress}} class="lz-report-progressbar-orange"></span>
    </span>
    <span aria-hidden="true" data-flex-icon="info-circle" class="flex-icon ft-fw ft fa-info-circle ft-state-info"></span>
</div>