<div class="status-row-inner" style="display: none;">
    {{#course_sets}}
        <div class="course-set">
            <div class="row" style="margin: 5px 0;">
                <b>{{{name}}}</b> ({{{requirements}}})
            </div>
            {{#courses}}
                <div class="row">
                    <div class="col-md-2" style="font-weight:bold;">
                        {{{name}}}:
                    </div>
                    <div class="col-md-2 {{completionClass}}">
                        {{{completionStatus}}}
                    </div>
                    <div class="col-md-2">
                        {{{completionDate}}}
                    </div>
                </div>
            {{/courses}}
        </div>
    {{/course_sets}}

    {{^course_sets}}
        <div class="row">
            <b>{{emptyMessage}}</b>
        </div>
    {{/course_sets}}
</div>