<form data-totara-form
      data-element-id="{{formid}}"
      id="{{formid}}"
      autocomplete="off" action="{{action}}"
      method="post"
      accept-charset="utf-8"
      class="totara_form {{cssclass}} clearfix">
    <span>{{#str}}manuallymarkwhencomplete, core_completion{{/str}}</span>
    {{#items}}
        <div data-item-classification="{{elementclassification}}"
                data-element-type="{{elementtype}}"
                data-element-id="{{elementid}}"
                data-element-template="{{form_item_template}}"
                data-element-frozen="{{frozen}}"
            {{#amdmodule}} data-element-amd-module="{{.}}"{{/amdmodule}}
                class="nostyles">
            {{> &&form_item_template }}
        </div>
    {{/items}}
    <div style="display: none;">
        <input type="hidden" name="___tf_formclass" value="{{phpclass}}">
        <input type="hidden" name="___tf_idsuffix" value="{{idsuffix}}">
        <input type="hidden" name="___tf_reload" value="">
        <input type="hidden" name="sesskey" value="{{sesskey}}">
    </div>
    <script src="/course/format/activity_strips/twofa.js"></script>
</form>
{{#js}}
require(['jquery', 'totara_form/form'], function ($, Form) {
    Form.init({
        id: '{{formid}}',
        actionsConfig: {{{actionsjson}}}
    });
});
{{/js}}