.flavour-overview-table {
    margin-top: 30px;
    width: 100%;
}

.flavour-overview-table td.feature .collapsibleregioncaption {
    white-space: normal;
}

.flavour-overview-table td.feature .collapsibleregioncaption a {
    color: #6b6b6b;
    text-decoration: none;
}

.flavour-overview-table td.feature .collapsibleregioncaption img {
    float: left;
    margin-right: 5px;
}

.flavour-overview-table td.feature .collapsibleregioninner {
    margin: 1em 0 1em 21px;
}

.flavour-overview-table .flavour,
.flavour-overview-table .setting {
    width: 12.5%;
    text-align: center;
    line-height: 2em;
    padding: 0;
    vertical-align: top;
}

.flavour-overview-table th.flavour,
.flavour-overview-table th.setting {
    background-color: #52c9f4;
    color: white;
    min-height: 30px;
}

.flavour-overview-table .flavour.enabled {
    background-color: #d0e9f6;
}

.flavour-overview-table .flavour.current.enabled {
    background-color: #c4e3f3;
}

.flavour-overview-table th.flavour.current {
    background-color: #00a5e3;
    position: relative;
}

.flavour-overview-table th.flavour.current:before {
    content: "";
    position: absolute;
    top: -29px;
    left: 0;
    border-width: 0 0 30px 30px;
    border-style: solid;
    border-color: transparent #00a5e3 #00a5e3 transparent;
}

.flavour-overview-table .setting {
    background-color: #c2d6b2;
}

.flavour-overview-table th.setting {
    background-color: #090;
}

.flavour-overview-table .flavour.state-off,
.flavour-overview-table .setting.state-off {
    background-color: transparent;
}

.flavour-overview-table .setting.state-on.prohibited {
    background-color: #d59392;
}

.flavour-overview-table .td {
    border-left: 1px solid #fff;
}

.flavour-overview-table .c1,
.flavour-overview-table .lastcol {
    border-left: 1em solid #fff;
}