{{!
   This file is part of Totara Learn

   Copyright (C) 2018 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.

   @author Michael Dunstan <michael.dunstan@androgogic.com>
   @package totara_contentmarketplace
}}
{{!
    @template totara_contentmarketplace/filter_radios

    Content Marketplace explorer filter control

    Example context (json):
    {
        "name": "avaliablity",
        "options": [
            {
                "htmlid": "tcm-filter-avaliablity-0",
                "label": "All",
                "value": "all",
                "checked": true
            },
            {
                "htmlid": "tcm-filter-avaliablity-1",
                "label": "Subscription",
                "value": "subscribed",
                "checked": false
            },
            {
                "htmlid": "tcm-filter-avaliablity-2",
                "label": "Collection",
                "value": "collection",
                "checked": false
            }
        ]
    }

}}
<div class="tcm-filter-radios">
    {{#options}}
        <div class="totara_form_element_radios_radio clearfix">
            <input id="{{htmlid}}" type="radio" name="{{name}}" value="{{value}}" {{#checked}}checked{{/checked}}/>
            <label for="{{htmlid}}">
                <span title="{{label}}" class="tcm-filter-option-label">{{label}}</span>
                <span title="{{#str}} total, totara_contentmarketplace {{/str}}" class="pull-right tcm-filter-option-count" data-value="{{value}}"></span>
            </label>
        </div>
    {{/options}}
</div>
