{{!
   This file is part of Totara Learn

   Copyright (C) 2018 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.

   @author Michael Dunstan <michael.dunstan@androgogic.com>
   @package totara_contentmarketplace
}}
{{!
    @template totara_contentmarketplace/filter_checkboxes_searchable_init

    Content Marketplace checkbox filter with search template

    Example context (json):
    {
        "name": "tags"
    }

}}
<div id="{{ uniqid }}-tcm-search-filter-{{name}}">
    <div class="tcm-search-filter-selection-wrapper"></div>
    <div class="tcm-search-filter-widget">
        <div class="tcm-search-filter-term-wrapper"><input type="text" name="{{name}}" class="tcm-search-filter-term"><span class="caret"></span></div>
        <div class="tcm-search-filter-results"></div>
    </div>
</div>
