{{!
   This file is part of Totara LMS

   Copyright (C) 2016 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.

   @author Andrew McGhie <andrew.mcghie@totaralearning.com>
   @package block_totara_featured_links
}}
{{!

    @template block_totara_featured_links/content_wrapper

    This template generates the wrapper of the base tile
    This layer is here is a tile can easily change the content and leave the reset of the tile alone such as the hiding
    and the edit controls
    other tiles can have their oen content wrapper but it is strongly advised that it stays similar to this.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
     * content string the html content of the tile
     * disabled boolean whether the tile is disabled or not
     * controls string html code for an action menu
     * subtiles string html for all the subtiles that are in the gallery tile

    Other context variables for following partials:
     * none

    Example context (json):
      {
        "content": "html displayed in the tile",
        "disabled": true,
        "controls": "rendered html for an action menu",
        "subtiles": "<div class="block-totara-featured-links-tile">...</div>"

      }
}}
<div class="block-totara-featured-links-tile block-totara-featured-links-tile-{{size}} block-totara-featured-links-tile-{{tile_id}}" id="block-totara-featured-links-tile-{{tile_id}}" style="{{#background_color}}background-color: {{background_color}};{{/background_color}}" {{#alt_text.tile_title}}title="{{alt_text.tile_title}}"{{/alt_text.tile_title}}>
    {{#disabled}}<div class="block-totara-featured-links-disabled"><div>{{hidden_text}}</div></div>{{/disabled}}
    {{#editing}}
        <div class="block-totara-featured-links-edit">
            {{{controls}}}
        </div>
    {{/editing}}

    <div id="block-totara-featured-links-gallery-tile-{{tile_id}}" class="block-totara-featured-links-gallery-subtiles">
        {{{subtiles}}}
    </div>
</div>