{{!
   This file is part of Totara LMS

   Copyright (C) 2016 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.

   @author Andrew McGhie <andrew.mcghie@totaralearning.com>
   @package block_totara_featured_links
}}
{{!

    @template block_totara_featured_links/content_wrapper

    This template generates the wrapper of the base tile
    This layer is here is a tile can easily change the content and leave the reset of the tile alone such as the hiding
    and the edit controls
    other tiles can have their oen content wrapper but it is strongly advised that it stays similar to this.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
     * content string the html content of the tile
     * disabled boolean whether the tile is disabled or not
     * background_img array an array containing the url to the background image
     * alt_text array and array that contains the text used for accessibility and is not shown
     * background_color string the color of the background
     * background_appearance string the style of the background image ("cover"|"contains")
     * url string the url that the tile should link to
     * controls string html code for an action menu

    Other context variables for following partials:
     * none

    Example context (json):
      {
        "content": "html displayed in the tile",
        "disabled": true,
        "background_img": {
            "url": "http://172.17.0.1/totara-moodle/pluginfile.php/5/block_totara_featured_links/tile_background/427332454/download%20%282%29.jpg",
            "itemid": "427332454"
        },
        "alt_text": {
            "tile_title": "alt_text",
            "sr-only": "sr only text"
        },
        "background_color": "#11FFaa",
        "background_appearance": "cover"
        "url": "http://www.google.com",
        "controls": "rendered html for an action menu"
      }
}}
<div class="block-totara-featured-links-tile block-totara-featured-links-tile-{{size}} block-totara-featured-links-tile-{{tile_id}}{{#editing}} block-totara-featured-links-editing-tile{{/editing}} background-{{background_appearance}}"
     id="block-totara-featured-links-tile-{{tile_id}}"
     style="{{#background_img}}background-image: url('{{background_img}}');{{/background_img}}{{#background_color}}background-color: {{background_color}};{{/background_color}}"
     {{#alt_text.tile_title}}title="{{alt_text.tile_title}}"{{/alt_text.tile_title}}>
    {{^disabled}}
        {{^editing}}
            {{#url}}
                <a class="block-totara-featured-links-link" rel="noreferrer" href="{{& url}}" {{#target}}target="{{target}}"{{/target}}>
                    <span class="sr-only">{{alt_text.sr-only}}</span>
                </a>
            {{/url}}
        {{/editing}}
    {{/disabled}}
    {{#disabled}}<div class="block-totara-featured-links-disabled"><div>{{hidden_text}}</div></div>{{/disabled}}
    {{{content}}}
    {{#editing}}
        <div class="block-totara-featured-links-edit">
            {{{controls}}}
        </div>
    {{/editing}}
    {{#icon}}
        <div class="block-totara-featured-links-icon block-totara-featured-links-icon-{{icon_size}}">
            {{#context}}{{> &&template}}{{/context}}
        </div>
    {{/icon}}
</div>