{{!
   This file is part of Totara LMS

   Copyright (C) 2016 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.

   @author Andrew McGhie <andrew.mcghie@totaralearning.com>
   @package block_totara_featured_links
}}
{{!

    @template block_totara_featured_links/content

    This template generates the conetent for the default tile.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
     * content_class string the classes that are applied to the content to styles can be applied to them
     * heading string this is the heading for the tile
     * heading_location string the location that the text will display on the tile ("top"|"bottom")
     * textbody string this is the subheading for the table
     * notempty boolean if this is false then the content will not render anything

    Other context variables for following partials:
     * none

    Example context (json):
      {
        "content_class": "block-totara-featured-links-foo block-totara-featured-links-bar"
        "heading_location": "top",
        "heading": "example heading",
        "textbody": "this is the description",
        "notempty": true
      }
}}
{{#notempty}}
    <div class="{{content_class}} block-totara-featured-links-content block-totara-featured-links-content-{{heading_location}}">
        {{#heading}}
        <h3>{{heading}}</h3>
        {{/heading}}
        {{#textbody}}
        <p>{{textbody}}</p>
        {{/textbody}}
    </div>
{{/notempty}}