{{!
   This file is part of Totara LMS

   Copyright (C) 2016 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_current_learning/main_content

    The main block content area.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * learningitems array The learning items

    Example context (json):
    {
        "haslearningitems": true
        "learningitems": [
            {
                "component": "core_course",
                "type": "course",
                "id": "24",
                "shortname": "Outlook basics",
                "fullname": "Outlook basics",
                "description": "",
                "url_view": "/course/view.php?id=1",
                "progress": {
                    "summary": "",
                    "percentage": null
                },
                "dueinfo": {
                    "duetext": "due on 25 Oct",
                    "tooltip": "Course due 12:00am on 25 Oct 2016",
                    "state": "label-info",
                    "alert": false
                },
                "duetext": "1477350000",
                "template": "block_current_learning/course_row",
                "nocurrentlearning_rol_link": "<a href='#'>No current learning</a>"
            }
        ]
    }
}}
<div class="tab-content current-learning-content">
    <div class="panel-body panel-body-content tab-pane active">
        {{#haslearningitems}}
        <ul>
            {{#learningitems}}
                {{> &&template }}
            {{/learningitems}}
        </ul>
        {{/haslearningitems}}
        {{^haslearningitems}}
        <p class="current_learning-no-content">{{{nocurrentlearning_rol_link}}}</p>
        {{/haslearningitems}}
    </div>
</div>
