{{!
   This file is part of Totara Learn

   Copyright (C) 2017 onwards Totara Learning

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!

    @template totara_recent_learning/block_content

    Block Last Course Accessed.

    This template creates the content for the block last course accessed.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * hascourses bool whether this block has any courses
    * course_name string Name of the course.
    * last_accessed string Text describing when the course was last accessed.
    * course_name_class string Class suffix that determines the size of the course name.
    * progress_bar string HTML that creates the progress bar.

    Example context (json):
    {
        "hascourses": true,
        "courses": [
            {
                "link":     "<a href=\"http://ita0038.dhcp.wlg.totaralms.com:8071/development/test/course/view.php?id=9\">nocriteria</a>",
                "progress": "<span class=\"label label-default\">No criteria</span>",
            },
            {
                "link":     "<a href=\"http://ita0038.dhcp.wlg.totaralms.com:8071/development/test/course/view.php?id=9\">nocriteria</a>",
                "progress": "<span class=\"label label-default\">No criteria</span>",
            }
        ]
    }
}}
{{#hascourses}}
<ul>
    {{#courses}}
    <li>{{> block_totara_recent_learning/course }}</li>
    {{/courses}}
</ul>
{{/hascourses}}
{{^hascourses}}
    {{#str}} norecentlearning, block_totara_recent_learning {{/str}}
{{/hascourses}}