#page-report-completion-index table#completion-progress {
    margin-top: 20px;
    margin-bottom: 30px;
}
#page-report-completion-index .export-actions {
    text-align: center;
    list-style: none;
}

#page-report-completion-index .criterianame,
#page-report-completion-index .criteriaicon,
#page-report-completion-index .completion-progresscell {
    text-align: center;
}

/* Custom CSS for rotated header.. */
#page-report-completion-index .rotated-text-container {
    display: inline-block;
    width: 3em;
}

#page-report-completion-index .rotated-text {
    display: inline-block;
    white-space: nowrap;

    transform-origin: 0 0;
    vertical-align: middle;
}

/*rtl:begin:ignore*/
#page-report-completion-index.dir-ltr .rotated-text {
    transform: translate(0, 100%) rotate(-90deg);
}

#page-report-completion-index.dir-rtl .rotated-text {
    transform: translate(0, 100%) rotate(90deg);
}
/*rtl:end:ignore*/

#page-report-completion-index .rotated-text span {
    display: block;
    text-align: left;
}

#page-report-completion-index .rotated-text:after {
    content: "";
    float: left;
    margin-top: 100%;
}
