{{!
   This file is part of Totara Learn

   Copyright (C) 2018 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.

   @author Kevin Hottinger <kevin.hottinger@totaralearning.com>
   @package totara_catalog
}}
{{!

    @template totara_catalog/catalog

    This template generates a catalog.

    Classes required for JS:
    * tw-catalog__overlay: add loading overlay

    Data attributes required for JS:
    * data-core-autoinitialise: State of this JS auto initilise
    * data-core-autoinitialise-amd: AMD to be linked to template
    * data-tw-catalogContent: Used to appened loading overlay
    * data-tw-catalogDebug: Displays debug content
    * data-tw-catalogResultsEmpty: Displays no results text

    Context variables required for this template:
    * grid_template_data: Data for generating template
    * grid_template_name: Name of template to be called
    * manage_btns_enabled: Has manage buttons data
    * pagination_template_data: Data for generating template
    * pagination_template_name: Name of template to be called
    * panel_region_enabled: Has side panel
    * panel_region_template_data: Data for generating template
    * panel_region_template_name: Name of template to be called
    * primary_region_template_data: Data for generating template
    * primary_region_template_name: Name of template to be called
    * item_style_toggle_enabled: Has multiple item styles

    Example context (json):
    {
        "grid_template_name": "totara_core\/grid",
        "grid_template_data": {...},
        "pagination_template_name": "totara_catalog\/pagination",
        "pagination_template_data": {...},
        "results_count": "6 items",
        "manage_btns_enabled": true,
        "manage_btns": {...},
        "item_style_toggle_enabled": true,
        "primary_region_template_name": "totara_core\/select_region_primary",
        "primary_region_template_data": {...},
        "panel_region_enabled": true,
        "panel_region_template_name": "totara_core\/select_region_panel",
        "panel_region_template_data": {...},
        "order_by_enabled": true,
        "order_by_template_name": "totara_core\/select_tree",
        "order_by_template_data": {...}
        "request": "1538622255360"
    }

}}

{{#manage_btns_enabled}}{{#manage_btns}}
    {{> totara_catalog/manage_btns }}
{{/manage_btns}}{{/manage_btns_enabled}}

<main class="tw-catalog"
    data-core-autoinitialise="true"
    data-core-autoinitialise-amd="totara_catalog/catalog">

    <div class="tw-catalog__content clearfix tw-catalog__overlay{{#panel_region_enabled}} tw-catalog__content--has_side_filter{{/panel_region_enabled}}"
        data-tw-catalogContent="">

        {{! Primary filter with search form }}
        <div class="tw-catalog__primaryFilter">
            {{#primary_region_template_data}}
                {{> &&primary_region_template_name }}
            {{/primary_region_template_data}}
        </div>

        {{! aside content, filters }}
        {{#panel_region_enabled}}
        <aside class="tw-catalog__aside">
            {{> totara_catalog/toggle_filter_panel }}

            {{#panel_region_template_data}}
                {{> &&panel_region_template_name }}
            {{/panel_region_template_data}}
        </aside>
        {{/panel_region_enabled}}

        {{! Results: count, share, sort by, toggle, grid & paging }}
        <div class="tw-catalog__results" aria-live="polite">
            {{> totara_catalog/loading_overlay }}
            <div class="tw-catalog__results_overview">
                <div class="tw-catalog__results_overview_row">
                    {{> totara_catalog/results_count }}
                    {{> totara_catalog/results_share }}
                </div>
                <div class="tw-catalog__results_overview_row {{^order_by_enabled}}tw-catalog__results_overview_row_narrow{{/order_by_enabled}}">
                    {{#order_by_enabled}}{{> totara_catalog/results_sort }}{{/order_by_enabled}}
                    {{#item_style_toggle_enabled}}{{> totara_catalog/item_style_toggle }}{{/item_style_toggle_enabled}}
                </div>
            </div>
            {{#grid_template_data}}{{> &&grid_template_name}}{{/grid_template_data}}
            <div class="tw-catalogResultsEmpty" data-tw-catalogResultsEmpty="">
                {{> totara_catalog/results_empty }}
            </div>
            {{#pagination_template_data}}{{> &&pagination_template_name}}{{/pagination_template_data}}

            <div class="tw-catalog__debug" data-tw-catalogDebug="">
                {{> totara_catalog/debug }}
            </div>
        </div>
    </div>
</main>
