{{!
   This file is part of Totara Learn

   Copyright (C) 2018 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.

   @author Kevin Hottinger <kevin.hottinger@totaralearning.com>
   @package totara_catalog
}}
{{!

    @template totara_catalog/details

    This template generates the details popover.

    Data attributes required for JS:
    * None

    Context variables required for this template:
    * title: string, title
    * has_manage_link: bool, has manage link
    * manage_link: Context data
    * manage_link -> label: string
    * manage_link -> url: string, destination
    * details_link: Details link context
    * has_details_link: bool, has details link
    * rich_text: HTML, custom text
    * rich_text_enabled: bool, enabled for catalog
    * description: string/HTML, description text
    * description_enabled: bool, enabled for catalog
    * text_placeholders: array, text placeholder content
    * text_placeholders_enabled: bool, has text placeholders
    * text_placeholders -> data_exists: bool, has data
    * text_placeholders -> data: data context
    * text_placeholders -> label: string, label
    * text_placeholders -> show_label: bool, display label
    * text_placeholders -> value, string/HTML
    * icon_placeholders_enabled: enabled for catalog
    * icon_placeholders: context data for icon set
    * icon_placeholders -> alt: alt text for image icons
    * icon_placeholders -> icon: Icon output
    * icon_placeholders -> url: Image url for icon

    Example context (json):
    {
        "title_enabled": true,
        "title": "Test course, full course name here...!",
        "has_manage_link": true,
        "manage_link": {
            "url": "http:\/\/localhost\/v12\/learn\/course\/view.php?id=2",
            "label": "Go to course"
        },
        "has_details_link": true,
        "details_links": {
            "description": "You cannot enrol yourself in this course"
        },
        "rich_text_enabled": true,
        "rich_text": "<div class=\"text_to_html\"><p>some random course description t<\/p><\/div>",
        "description_enabled": false,
        "text_placeholders_enabled": true,
        "text_placeholders": [{
            "data_exists": false
        }, {
            "data_exists": true,
            "data": {
                "key": "fullname",
                "value": "Test course, full course name here...! A bit long really really really iiiii"
            }
        }],
        "icon_placeholders_enabled": true,
        "icon_placeholders": [],
        "request": "1538625672174"
    }
}}
<div class="closeBtn">
<a href="#" class="tw-catalogDetails__close rhtCloseBtn" data-tw-grid-item-toggle="">
    {{#flex_icon}}close, remove, core,{{/flex_icon}}
</a></div>
<div class="lftContForPopup">
<h2 class="tw-catalogDetails__title headingBarPopup">
    {{{title}}}
</h2>
 <h3 class="iconHeading icon-pr-0"><figure><img src="{{{coursetypeimgurl}}}" class="iconHeadingimg"> {{{coursetypeval}}} </figure> </h3>                
<div class="descContent">               
{{{objectdesc}}}                
</div>              
<div class="btnSubmitCont">
{{#has_manage_link}}{{#manage_link}}
    <a href="{{{url}}}" class="continueBtn">continue</a>
{{/manage_link}}{{/has_manage_link}}
{{^has_manage_link}}
{{#has_details_link}}{{#details_link}}
    {{> totara_catalog/details_link }}
{{/details_link}}{{/has_details_link}}
{{/has_manage_link}}        
<a href="#" class="mylistBtn">my list</a>       
<a href="#" class="featureBtn">featured</a>             
<a href="#" class="showBtn">&nbsp;</a>              
<a href="#" class="favarateBtn">&nbsp;</a>              
</div>              
{{#has_manage_link}}{{#manage_link}}                
  <!--   <a class="tw-catalogDetails__manageLink" href="{{{url}}}">             
        {{label}}               
    </a> -->                
{{/manage_link}}{{/has_manage_link}}

<!--<div class="tw-catalogDetails__detail">
    <div class="tw-catalogDetails__detail_body">
        {{#rich_text_enabled}}
        <div class="tw-catalogDetails__contentBlock{{^rich_text}} tw-catalogDetails__empty{{/rich_text}}">
            {{{rich_text}}}
        </div>
        {{/rich_text_enabled}}

        {{#description_enabled}}
        <div class="tw-catalogDetails__contentBlock{{^description}} tw-catalogDetails__empty{{/description}}">
            {{{description}}}
        </div>
        {{/description_enabled}}
    </div>
    <div class="tw-catalogDetails__detail_side">

        {{#text_placeholders_enabled}}
        <div class="tw-catalogDetails__textarea_group">
            {{#text_placeholders}}
            <div class="tw-catalogDetails__textarea_group_item{{^data_exists}} tw-catalogDetails__empty{{/data_exists}}">
                {{#show_label}}{{{label}}}: {{/show_label}}{{#data_exists}}{{{data}}}{{/data_exists}}
            </div>
            {{/text_placeholders}}
        </div>
        {{/text_placeholders_enabled}}

        {{#icon_placeholders_enabled}}
            <div class="tw-catalogDetails__iconRow{{^icon_placeholders.0}} tw-catalogDetails__empty{{/icon_placeholders.0}}">
                {{#icon_placeholders}}{{!
              }}{{#icon}}{{{icon}}}{{/icon}}{{!
              }}{{#url}}<img src="{{{url}}}" alt="{{alt}}" class="tw-catalogDetails__iconRow_icon">{{/url}}{{!
              }}{{/icon_placeholders}}
            </div>
        {{/icon_placeholders_enabled}}
    </div>-->
    </div>              
<div class="rhtImgPopup">               
<img src="{{{objctimage}}}" alt="">  
</div>