{{!
   This file is part of Totara Learn

   Copyright (C) 2018 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.

   @author Matthias Bonk <matthias.bonk@totaralearning.com>
   @package totara_catalog
}}
{{!

    @template totara_form/element_select

    This template generates Totara form select input element.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
     * form_item_template string this template, used for dynamic partials
     * name__xxxx bool true where xxxx is the name of this form item
     * name string name of this item
     * id string id of this item
     * label string
     * frozen bool
     * size int
     * required bool
     * options array list of options
       * value string
       * text string
       * selected bool

    Other context variables for following partials:
     * totara_form/help_button
     * totara_form/validation_errors

    Example context (json):
        {
            "form_item_template":"totara_form\/element_select",
            "name__select":true,
            "name":"select",
            "id":"tfiid_select_totara_form_form_testform_element_compilation",
            "label":"Select",
            "frozen":false,
            "options": [
                {"value":"apple","text":"Apple","selected":true},
                {"value":"orange","text":"Orange","selected":false},
                {"value":"pear","text":"Pear","selected":false},
                {"value":"raspberry","text":"Raspberry","selected":false},
                {"value":"persimmon","text":"Persimmon","selected":false}
            ],
            "amdmodule":"totara_form\/form_element_select",
            "size":false,
            "required":false,
            "errors_has_items":false,
            "errors":[],
            "helphtml":false,
            "elementtype":"totara_form\\form\\element\\select",
            "elementid":"tfiid_select_totara_form_form_testform_element_compilation",
            "elementclassification":"element"
        }
}}
<div class="tf_element totara_form_element_select">
    <div class="tf_element_title"><label class="legend" for="{{id}}">{{label}}{{#required}}{{> totara_form/required_suffix}}{{/required}}</label>{{> totara_form/help_button}}</div>
        {{> totara_form/validation_errors}}<select id="{{id}}" {{#frozen}}disabled data-{{/frozen}}name="{{name}}"
        {{#required}}required{{/required}} {{#size}}size="{{.}}"{{/size}} >
        {{#options}}
            {{#group}}
                <optgroup label="{{label}}">
                    {{#options}}
                        <option value="{{value}}" {{#selected}}selected{{/selected}}>{{{text}}}</option>
                    {{/options}}
                </optgroup>
            {{/group}}
            {{^group}}<option value="{{value}}" {{#selected}}selected{{/selected}}>{{{text}}}</option>{{/group}}
        {{/options}}
    </select><span class="tf_loading" style="display: none;">{{#pix}} i/loading, core, loading, totara_core{{/pix}}</span>
</div>