{{!
   This file is part of Totara LMS

   Copyright (C) 2016 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template totara_core/course_completion_criteria

    Displays a summary of criteria to be met in order to complete the course

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * hascoursecriteria An indication whether to list criteria
    * aggregation A string containing aggregation detail
    * criteria An array of criteria detail
    * summary Criteria summary

    Example context (json):
    {
        "hascoursecriteria": true,
        "criteria": ["blah", "blah blah", "blah blah blah"],
        "aggregation":"<strong>All<\/strong> to be done",
        "summary":"Whatever"
    }
}}

{{#hascoursecriteria}}
{{{aggregation}}}
<ul>
    {{#criteria}}
        <li>{{{.}}}</li>
    {{/criteria}}
</ul>
{{/hascoursecriteria}}
{{#summary}}
  {{{.}}}
{{/summary}}
