{{!
   This file is part of Totara LMS

   Copyright (C) 2016 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template totara_core/errorlog_link
    @depreacted

    Display last error text and button.

    !!! DEPRECATED !!!!
    This template was deprecated in Totara 11 and will be removed in a future release.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * timeoccured The date and time
    * downloadbutton The html form button

    Example context (json):
    {
        "timeoccured": "25 October 2015, 8:07 AM"
        "downloadbutton": "<div class="singlebutton">
                        <form action="#" method="post">
                            <div>
                                <input type="submit" value="Download error log">
                                <input type="hidden" value="1" name="geterrors">
                                <input type="hidden" value="jQYwva0GG7" name="sesskey">
                            </div>
                        </form>
                    </div>"
    }
}}
{{#str}} lasterroroccuredat, totara_core, {{timeoccured}} {{/str}}
{{{downloadbutton}}}