{{!
   This file is part of Totara LMS

   Copyright (C) 2010 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!

    @template totara_core/icon_list

    Icon List.

    This template generates a list of icons available to use with course or progreams.

    Deprecated variables:
    * attributes (since Totara 12)

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * icons An array of data used to build the list of icons.

    Example context (json):
    {
        "icons": [{
            "id": "achieving-success",
            "name": "Achieving Success",
            "url": "__WWWROOT__/totara/core/pix/courseicons/achieving-success.png"
        }, {
            "id": "advanced-accounting",
            "name": "Advanced Accounting",
            "url": "__WWWROOT__/totara/core/pix/courseicons/advanced-accounting.png"
        }]
     }
}}
<ul id="icon-selectable">
    {{#icons}}
        <li id="{{id}}"><img class="course_icon" alt="{{name}}" title="{{name}}" src="{{url}}"/></li>
    {{/icons}}
</ul>