{{!
   This file is part of Totara LMS

   Copyright (C) 2018 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template totara_core/nav_prim

    Creates the totara primary nav.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-tw-totaraNav-list: Navigation list
    * data-tw-totaranav-list-close: Close icon
    * data-tw-totaraNav-item: List item
    * data-tw-totaraNav-hasChildren: Has sublist
    * data-tw-totaraNav-chevron: Dynamically adds chevron icon
    * data-tw-totaraNav-topLevelItem: Top level item

    Context variables required for this template:
    * [parent] -> masthead_lang: Language data
    * [parent] -> masthead_logo: masthead_logo data
    * [parent] -> masthead_plugins: Plugins data (alert/messages)
    * [parent] -> masthead_toggle: mobile toggle button data
    * [parent] -> masthead_usermenu: Usermenu data
    * menuitems -> list of items
    * menuitems -> haschildren: Has sub list items
    * menuitems -> class_name: Identifier for this node
    * menuitems -> class_isfirst: First node
    * menuitems -> class_islast: Last node
    * menuitems -> class_isselected: Is current section or parent of current section
    * menuitems -> url: section URL
    * menuitems -> target: _self or _blank
    * menuitems -> homeicon: Home icon, available when first item is home
    * menuitems -> linktext: Section text, may contain icon
    * menuitems -> external_link -> Bool, has external link
    * menuitems -> external_link -> external_link_icon: New window icon

}}
<nav class="totaraNav_prim">
    <div class="container-fluid">

        {{! Mobile toggle button }}
        {{#masthead_toggle}}{{> totara_core/nav_toggle }}{{/masthead_toggle}}

        {{! Logo here }}
        {{#masthead_logo}}{{> totara_core/masthead_logo }}{{/masthead_logo}}

        <ul class="totaraNav_prim--list totaraNav_prim--list_hideMobile" role="menubar" data-tw-totaraNav-list="">
            <li class="totaraNav_prim--list_item">
                <a href="#" class="totaraNav_prim--list_close" data-tw-totaranav-list-close="">
                    {{{close_menu_icon}}}
                </a>
            </li>{{!
          }}{{#menuitems}}{{!
          }}<li id="{{class_name}}"
                class="totaraNav_prim--list_item
                {{#haschildren}} totaraNav_prim--list_item_hasChildren{{/haschildren}}
                {{^haschildren}}{{#external_link}} totaraNav_prim--list_item_externalLink{{/external_link}}{{/haschildren}}
                {{#class_isselected}} totaraNav_prim--list_item_selected{{/class_isselected}}"
                 data-tw-totaraNav-item=""
                data-tw-totaraNav-topLevelItem=""
                {{#haschildren}} data-tw-totaraNav-hasChildren=""{{/haschildren}}>
                <a class="totaraNav_prim--list_item_link" {{#target}}target="{{.}}" rel="noopener"{{/target}}
                    {{^haschildren}} href="{{url}}"{{/haschildren}}
                    {{#haschildren}} href="#" aria-haspopup="true" aria-expanded="false"{{/haschildren}}>
                    <div class="totaraNav--expand_indent" {{#haschildren}}data-tw-totaraNav-chevron=""{{/haschildren}}></div>{{!
                  }}<div class="totaraNav_prim--list_item_label">
                        {{{linktext}}}
                        {{^haschildren}}{{#external_link}}
                            {{{external_link_icon}}}
                        {{/external_link}}{{/haschildren}}
                    </div>
                </a>
                {{#haschildren}}
                    {{> totara_core/nav_expand }}
                {{/haschildren}}
            </li>{{!
          }}{{/menuitems}}
        </ul>

        <div class="totaraNav_prim--side">
            {{! Admin mega menu }}
            {{#masthead_quickaccessmenu}}{{> totara_core/quickaccessmenu }}{{/masthead_quickaccessmenu}}

            <div class="totaraNav_prim--side__separator"></div>

            {{! Language button here }}
            {{#masthead_lang}}{{> totara_core/masthead_lang }}{{/masthead_lang}}

            {{! mail & alert button }}
            {{#masthead_plugins}}{{> totara_core/masthead_plugins }}{{/masthead_plugins}}

            {{! User menu / login }}
            {{#masthead_usermenu}}{{> totara_core/masthead_usermenu }}{{/masthead_usermenu}}
        </div>
    </div>
</nav>
