{{!
   This file is part of Totara Learn

   Copyright (C) 2018 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.

   @author Kevin Hottinger <kevin.hottinger@totaralearning.com>
   @package totara_core
}}
{{!

    @template totara_core/select_multi

    This template generates a multi select selector

    Classes required for JS:
    * tw-selectMulti__link_active: Used for toggling active UI

    Data attributes required for JS:
    * data-core-autoinitialise: State of this JS auto initilise
    * data-core-autoinitialise-amd: AMD to be linked to template
    * data-tw-selectorGroup: selector grouping, used for clear all functionality
    * data-tw-selector-active: bool, selector state for grouping events
    * data-tw-selectMulti-optionKey: string, click handler & setting URL param
    * data-tw-selectMulti-active: bool, checking selector state
    * data-tw-selectMulti-close: trigger for clearing selector active state

    Context variables required for this template:
    * key: string, unique ID for this select
    * options: array containing multi-select options
    * options -> active: bool, is option active
    * options -> key: string, option URL key
    * options -> name: string, option name
    * title: string, Title for selector
    * title_hidden: bool, true to hide the title

}}
<div class="tw-selectMulti"
    data-tw-selectorGroup=""
    data-core-autoinitialise="true"
    data-core-autoinitialise-amd="totara_core/select_multi"
    data-tw-selectMulti-key="{{{key}}}">

    {{^title_hidden}}
    <h3 id="{{{key}}}" class="tw-selectMulti__header">
        {{{title}}}
    </h3>
    {{/title_hidden}}

    <ul class="tw-selectMulti__list"
        role="listbox"
        aria-multiselectable="true"
        {{#title}}aria-labelledby="{{{key}}}"{{/title}}>

        {{#options}}
                <li class="tw-selectMulti__list_item catalog_{{{ltypeno}}}">
            <a href="#" class="tw-selectMulti__link{{#active}} tw-selectMulti__link_active{{/active}}"
                data-tw-selectMulti-optionKey="{{{key}}}"{{#active}} data-tw-selector-active="{{active}}"{{/active}}
                aria-selected="{{#active}}true{{/active}}{{^active}}false{{/active}}" role="option">
                {{#active}}   
                 <input style="display:none;" type="checkbox" name="chcatalog[]" id="catalog_{{{ltypeno}}}" checked="checked">    
                 <img src="{{wwwroot}}/theme/golearningzone/pix/checkbox.png" id="imgcatalog_{{{ltypeno}}}" class="imgtotaracatalog">   
                 {{/active}}    
                 {{^active}}    
                 <input style="display:none;" type="checkbox" name="chcatalog[]" id="catalog_{{{ltypeno}}}" >   
                 <img src="{{wwwroot}}/theme/golearningzone/pix/uncheckbox.png" id="imgcatalog_{{{ltypeno}}}" class="imgtotaracatalog">   
                 {{/active}}
                <span class="tw-selectMulti__link_text">
                    {{{name}}}
                </span>
                <span class="tw-selectMulti__link_close{{^active}} tw-selectMulti__hidden{{/active}}"
                data-tw-selectMulti-close="">
                    {{#flex_icon}}close, remove, core,{{/flex_icon}}
                </span>
            </a>
        </li>
        {{/options}}
    </ul>
</div>