{{!

 This file is part of Totara LMS

 Copyright (C) 2016 onwards Totara Learning Solutions LTD

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.

}}
{{!
    @template core/flex_icon_stack

    Totara flex_icon_stack template.

    The purpose of this template is to render a flex_icon.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
        "customdata": {
        },
    }

}}
<span aria-hidden="true" data-flex-icon="spacer" class="flex-icon ft-fw ft ft-spacer{{#customdata.classes}} {{{.}}}{{/customdata.classes}}"></span>
