{{!
   This file is part of Totara LMS

   Copyright (C) 2015 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/test

    Totara test template

    The purpose of this template is to test a number of renderings in behat

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * title Text to attach

    Example context (json):
    {
        "title": "hello",
        "strkey": "viewmyteam",
        "date": 1293876000,
        "another": "Lorem ipsum dolor sit amet, consectetur adipiscing elit,"
    }
}}
<div id="template_string_check">
    <p>test simple string With no variables</p>
    <p>{{#str}} viewmyteam, totara_core {{/str}}</p>
</div>
<div id="template_string_with_variable">
    <p>test string rendering with variable</p>
    <p>{{#str}} skipa, access, {{{ title}}} {{/str}}</p>
</div>
<div id="template_string_with_variable_key">
    <p>test string rendering with variable</p>
    <p>{{#str}} {{strkey}}, totara_core {{/str}}</p>
</div>
<div id="template_pix">
    <p>test pix icon without flex equivilent and alt</p>
    <p>{{#pix}} e/decrease_indent{{/pix}}</p>
</div>
<div id="template_pix_alt">
    <p>test pix icon with plain string alt and without flex equivilent alt (edit)</p>
    <p>{{#pix}} e/decrease_indent, core, test case{{/pix}}</p>
</div>
<div id="template_pix_alt_variable">
    <p>test pix icon with a string helper alt that has a parameter and no flex equivilent</p>
    <p>{{#pix}} e/decrease_indent, core, {{#str}} skipa, access, {{title}} {{/str}} {{/pix}}</p>
</div>
<div id="template_pix_alt_json">
    <p>test pix icon with json attributes</p>
    <p>{{#pix}} e/decrease_indent, core, {"alt":"{{#str}} skipa, access, {{title}} {{/str}}", "classes": "muppet"} {{/pix}}</p>
</div>
<div id="template_flex_pix">
    <p>test pix icon with flex translation (and no other attributes)</p>
    <p>{{#pix}} req {{/pix}}</p>
</div>
<div id="template_flex_pix_alt">
    <p>test pix icon with flex translation and plain string alt</p>
    <p>{{#pix}} req, core, test case{{/pix}}</p>
</div>
<div id="template_flex_pix_alt_variable">
    <p>test pix icon with flex translation and string helper alt</p>
    <p>{{#pix}} req, core, {{#str}} skipa, access, {{title}} {{/str}} {{/pix}}</p>
</div>
<div id="template_flex_pix_alt_json">
    <p>test pix icon with flex translation and json data</p>
    <p>{{#pix}} req, core, {"alt":"{{#str}} skipa, access, {{title}} {{/str}}", "classes": "muppet"} {{/pix}}</p>
</div>
<div id="template_flex">
    <p>test flex icon without alt</p>
    <p>{{#flex_icon}} collapsed {{/flex_icon}}</p>
</div>
<div id="template_flex_alt">
    <p>test flex icon with plain text alt</p>
    <p>{{#flex_icon}} settings, {"alt":"test case"} {{/flex_icon}}</p>
</div>
<div id="template_flex_string_alt">
    <p>test flex icon with string helper alt</p>
    <p>{{#flex_icon}} delete, {"alt":"{{#str}}perpagea, core, {{title}}{{/str}}" } {{/flex_icon}}</p>
</div>
<div id="template_flex_string_data">
    <p>test flex icon with json data</p>
    <p>{{#flex_icon}} delete, {"alt":"{{#str}} skipa, access, {{title}} {{/str}}", "classes": "muppet"} {{/flex_icon}}</p>
</div>
<div id="template_userdata_helper">
    <p>test flex icon with json data</p>
    <p>{{#userdate}} {{{date}}}, {{#str}} strftimedate, langconfig {{/str}} {{/userdate}}</p>
</div>
<div id="template_shorten_helper">
    <p>test flex icon with json data</p>
    <p>{{#shortentext}} 30, {{another}} {{/shortentext}}</p>
</div>