/*
	css style in the main strauss theme
*/
.dir-ltr .block_totara_my .totara_my.nolearning tbody td.cell.c0 {
    display: none;
}

.dir-rtl .block_totara_my .totara_my.nolearning tbody td.cell.lastcol {
    display: none;
}

.block_totara_my .content {
    height: 267px;
    position: relative;
}

.block_totara_my .content .footer input[type="submit"] {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.dir-rtl .block_totara_my .content .footer input[type="submit"] {
    position: absolute;
    right: auto;
    left: 10px;
    bottom: 10px;
}

span.coursecompletionstatus span.completion-timewindowopens {
    background-color: orange;
}

span.coursecompletionstatus span.completion-expired {
    background-color: red;
}

.dir-rtl table.totara_my {
    direction: ltr;
    text-align: right;
}

.dir-rtl table.totara_my tbody td.duedate {
    direction: rtl;
}

table.totara_my tbody td {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 170px;
    overflow: hidden;
    height: 53px;
}

table.totara_my tbody tr:last-child td {
    height: auto;
}

table.totara_my tbody td.icon {
    text-align: center;
    font-size: 18px;
}

.dir-rtl table.totara_my td {
    direction: rtl;
}

.block_totara_my span.coursecompletionstatus span.completion-notyetstarted,
.block_totara_my span.coursecompletionstatus span.completion-complete,
.block_totara_my span.coursecompletionstatus span.completion-inprogress,
.block_totara_my span.coursecompletionstatus span.completion-completeviarpl {
    margin: initial;
}

.block_totara_my table.totara_my tr:last-child td:last-child a,
.block_totara_my table.totara_my tr:last-child td:first-child a {
    margin: 0 5px;
}

