{{!
   This file is part of Totara Learn

 * Copyright (C) 2018 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.

   @author Simon Coggins <simon.coggins@totaralearning.com>
   @package totara_workflow
}}
{{!
    @template totara_workflow/manage_workflows

    Example context (json):
    {
        "workflow_managers": [{
            "name": "Manager name",
            "url": "/path/to/workflow/manager.php",
            "sesskey": "somekey",
            "wwwroot": "__WWWROOT__",
            "workflows": [
                {
                    "name": "Test workflow",
                    "description": "This is my test workflow",
                    "url": "http://example.com/",
                    "imageurl": "http://via.placeholder.com/100x100",
                    "enabled": 1,
                    "component": "component_name",
                    "manager": "wfmanager",
                    "workflow": "wfname"
                },
                {
                    "name": "Another test workflow",
                    "description": "This is another workflow with no image.",
                    "url": "http://example.com/",
                    "enabled": 0,
                    "component": "component_name",
                    "manager": "wfmanager",
                    "workflow": "wfname"
                }

            ]
        }]
    }
}}
<table class="generaltable">
    <thead>
        <tr>
            <th>{{#str}}name,moodle{{/str}}</th>
            <th>{{#str}}description,moodle{{/str}}</th>
            <th>{{#str}}type,totara_core{{/str}}</th>
            <th>{{#str}}actions,moodle{{/str}}</th>
        </tr>
    </thead>
    <tbody>
        {{#workflow_managers}}
            {{#workflows}}
                {{> totara_workflow/manage_workflow}}
            {{/workflows}}
        {{/workflow_managers}}
    </tbody>
</table>
